<!DOCTYPE html>
<html lang="ja-JP">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5873P36');</script>
<!-- End Google Tag Manager -->

	<meta charset="UTF-8">
	<title>導入事例｜AI顔認証セキュリティはSECURE|株式会社セキュア</title>
	<meta name="description" content="監視カメラシステムや入退室システム等のセキュリティソリューションを提供する株式会社セキュアのブランド「SECURE」サイトの導入事例ページです。導入されたお客様が、どういう課題を持ってどのように解決されたかがわかる事例をご紹介します。">
	<meta name="keywords" content="セキュア,SECURE,導入事例,セキュリティ,AI,顔認証,指紋認証,生体認証,カード認証,テンキー認証,画像解析,混雑見える化,入退室管理,入退出管理,出入り管理,物理セキュリティ,監視カメラ,防犯カメラ,セキュリティ対策,監視システム,勤怠管理">
	<link rel="shortcut icon" href="/assets/img/fav.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta property="og:title" content="導入事例｜顔認証セキュリティはSECURE">
	<meta property="og:type" content="website">
	<meta property="og:description" content="監視カメラシステムや入退室システム等のセキュリティソリューションを提供する株式会社セキュアのブランド「SECURE」サイトの導入事例ページです。導入されたお客様が、どういう課題を持ってどのように解決されたかがわかる事例をご紹介します。">
	<meta property="og:url" content="https://secureinc.co.jp/">
	<meta property="og:image" content="/assets/img/share.png">
	<meta property="og:site_name" content="AI、顔認証、入退室管理・防犯カメラなど、オフィスセキュリティのことならセキュア">
	<meta property="og:locale" content="ja_JP">
	<link rel="stylesheet" href="/assets/css/common.css?v=20021303">
	<script src="/assets/js/jquery1.8.3.js"></script>
	<script src="/assets/js/common.min.js"></script>
	<script src="/assets/js/bundle.js"></script>
<script src="/assets/js/include.js" type="text/javascript"></script>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5873P36"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header-include"></header>

	<section class="case case_article_page l-inner">
		<nav class="breadcrumb">
			<ul>
				<li><a href="/">TOP</a></li>
				<li><span>Case（導入事例から探す）</span></li>
			</ul>
		</nav>

		<div class="ttlarea ta-c">
			<h1 class="fs-rennermedium fs-50">Case</h1>
			<h2 class="fs-20">導入事例から探す</h2>
		</div>

		<!-- download banner-->
		<div style="padding-bottom:40px;"><a href="/aioffice/docs/case-secure/" target="_blank"><img style="width:100%;" src="/assets/img/case/bn_case_dl_2.png" alt="セイキュアの製品・ソリューションの事例集ダウンロード　バナー"></a></div>
		<!-- //download banner-->

		<div class="tag-list tag-list-sort" v-show="case_category_data">
			<p>サービスで絞り込み</p>
			<ul class="tag tag14">
				<li><a data-filter="secure-fr" href="javascript:void(0)" class="js-filter">SECURE FR</a></li>
				<li><a data-filter="secure-vs" href="javascript:void(0)" class="js-filter">SECURE VS</a></li>
				<li><a data-filter="secure-ac" href="javascript:void(0)" class="js-filter">SECURE AC</a></li>
				<li><a data-filter="secure-analytics" href="javascript:void(0)" class="js-filter">SECURE Analytics</a></li>
				<li><a data-filter="secure-ai-office-base" href="javascript:void(0)" class="js-filter">AI Office Base</a></li>
				<li><a data-filter="all" href="javascript:void(0)" class="js-filter">RESET</a></li>
			</ul>
			<p>導入シーンで絞り込み</p>
			<ul class="tag tag14 white">
				<li><a data-filter="オフィス" href="javascript:void(0)" class="js-filter-biz">オフィス</a></li>
				<li><a data-filter="工場" href="javascript:void(0)" class="js-filter-biz">工場</a></li>
				<li><a data-filter="店舗" href="javascript:void(0)" class="js-filter-biz">店舗</a></li>
				<li><a data-filter="フィットネス" href="javascript:void(0)" class="js-filter-biz">フィットネス</a></li>
				<li><a data-filter="学校・塾" href="javascript:void(0)" class="js-filter-biz">学校・塾</a></li>
				<li><a data-filter="病院・クリニック" href="javascript:void(0)" class="js-filter-biz">病院・クリニック</a></li>
				<li><a data-filter="建設" href="javascript:void(0)" class="js-filter-biz">建設</a></li>
				<li><a data-filter="公共" href="javascript:void(0)" class="js-filter-biz">公共</a></li>
				<li><a data-filter="商業施設" href="javascript:void(0)" class="js-filter-biz">商業施設</a></li>
				<li><a data-filter="アミューズメント施設" href="javascript:void(0)" class="js-filter-biz">アミューズメント施設</a></li>
				<li><a data-filter="物流倉庫" href="javascript:void(0)" class="js-filter-biz">物流倉庫</a></li>
				<li><a data-filter="all" href="javascript:void(0)" class="js-filter-biz">RESET</a></li>
			</ul>
<!-- 			<ul class="tag tag14">
				<li v-for="(case_cate_item,index) in case_category_data"><a class="js-filter" :data-filter="case_cate_item['slug']" href="#">{{ case_cate_item['name'] }}</a></li>
			</ul> -->
		</div>

		<div class="case-list l-cols3 left">

			<div class="col card blackline js-view js-fadeup-card secure-ai-office-base">
				<a href="/case/case07.html" class="card-hvact">
					<div class="ta-c card-cell card-separate">
						<img src="/assets/img/logo/smartnews.png" alt="" class="card-logo">
						<h2>スマートニュース株式会社</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img src="/assets/img/thumb/case07.jpg" alt="スマートニュース株式会社" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>ベンダーが異なる顔認証システムが2つあり、管理が煩雑だった</p>
					</div>
					<ul class="cf order-4 tag">
						<li>AI Office Base</li>
					</ul>
				</a>
			</div>

			<div class="col card blackline js-view js-fadeup-card secure-ac">
				<a href="/case/case01.html" class="card-hvact">
					<div class="ta-c card-cell card-separate">
						<img src="/assets/img/logo/mercari.png" alt="" class="card-logo">
						<h2>株式会社メルカリ</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img src="/assets/img/thumb/case01.jpg" alt="株式会社メルカリ" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>社員とサービスのエンドユーザーを守るSECURE AC</p>
					</div>
					<ul class="cf order-4 tag">
						<li>SECURE AC</li>
					</ul>
				</a>
			</div>

			<div class="col card blackline js-view js-fadeup-card secure-ac">
				<a href="/case/case02.html" class="card-hvact">
					<div class="ta-c card-cell card-separate">
						<img src="/assets/img/logo/gatechnologies.png" alt="" class="card-logo">
						<h2>株式会社 GA technologies</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img src="/assets/img/thumb/case02.jpg" alt="株式会社 GA technologies" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>企業成長に合わせて複雑化した勤怠管理と入退室管理を連携させる</p>
					</div>
					<ul class="cf order-4 tag">
						<li>SECURE AC</li>
					</ul>
				</a>
			</div>

			<div class="col card blackline secure-vs">
				<a href="/case/case04.html" class="card-hvact">
					<div class="ta-c card-cell card-separate">
						<img src="/assets/img/logo/adastria.png" alt="" class="card-logo">
						<h2>株式会社アダストリア</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img src="/assets/img/thumb/case04.jpg" alt="株式会社アダストリア" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>店舗の従業員が安全に働けるためのカメラシステム</p>
					</div>
					<ul class="cf order-4 tag">
						<li>SECURE VS</li>
					</ul>
				</a>
			</div>

			<div class="col card blackline secure-ac">
				<a href="/case/case05.html" class="card-hvact">
					<div class="ta-c card-cell card-separate">
						<img src="/assets/img/logo/raksul.png" alt="" class="card-logo">
						<h2>ラクスル株式会社</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img src="/assets/img/thumb/case05.jpg" alt="ラクスル株式会社" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>セキュリティレベルが高い指紋認証を導入して、管理はより簡単に</p>
					</div>
					<ul class="cf order-4 tag">
						<li>SECURE AC</li>
					</ul>
				</a>
			</div>

			<div class="col card blackline secure-analytics">
				<a href="/case/case06.html" class="card-hvact">
					<div class="ta-c card-cell card-separate">
						<img src="/assets/img/logo/utanoyu.png" alt="" class="card-logo">
						<h2>杉戸天然泉　雅楽の湯</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img src="/assets/img/thumb/case06.jpg" alt="杉戸天然泉　雅楽の湯" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>「AI」を利用して誰もが納得する「混雑具合」の見える化を実現</p>
					</div>
					<ul class="cf order-4 tag">
						<li>SECURE Analytics</li>
					</ul>
				</a>
			</div>
		</div>

		<div class="case-list l-cols3 left reverse">
			<div v-for="(case_post,index) in case_archive_data['posts']"
				class="col card blackline js-view js-fadeup-card" :class="getCategoryArray(case_post['category'])">
				<a :href="'/case/detail.html?id=' + case_post['ID']" class="card-hvact">
					<div class="ta-c card-cell card-separate case-ttl">
						<h2>{{ case_post['company_name'] }}</h2>
					</div>
					<figure class="card-fl card-thumb">
						<img :src="case_post['key_visual_image']['sizes']['medium']" :alt="case_post['company_name']" class="imgfix">
						<p class="more"><span class="fs-renner">See More</span></p>
					</figure>
					<div class="card-fr card-txt card-cell">
						<p>{{ case_post['key_copy_text'] }}</p>
					</div>
					<ul class="cf order-4 tag">
						<li v-for="(cate_item,index) in case_post['category']">{{ cate_item['name'] }}</li>
						<li v-for="(cate_item,index) in case_post['biz']" class="biz">{{ cate_item['name'] }}</li>
					</ul>
				</a>
			</div>
		</div>
	</section>

	<aside>
		<div class="contact-include"></div>
		<div class="solution-include"></div>
	</aside>

	<!--3mitsu download include-->
	<div class="3mitsu-include"></div>
	<!--//3mitsu download include-->

	<div class="pagetop">
		<span class="fs-renner">PAGE TOP</span>
	</div>
	<footer>
		<div class="footerbelt">
			<div class="wrap">
				<div class="l-cols2">
					<div class="col p-0 left">
						<ul>
							<li><a href="/security_blog/" class="btn white"><span class="more"><span>セキュリティブログ</span></span></a></li>
							<li><a href="/movie/" class="btn white"><span class="more"><span>動画ライブラリー</span></span></a></li>
							<li><a href="/security_qa/" class="btn white"><span class="more"><span>よくある質問</span></span></a></li>
						</ul>
					</div>
					<div class="col p-0 right">
						<ul>
							<li><a href="/showroom/"><span>本社ショールーム</span></a></li>
							<li><a href="/flow/"><span>導入フロー</span></a></li>
							<li><a href="../company/index.html"><span>会社情報</span></a></li>
							<li><a href="/download/"><span>資料ダウンロード</span></a></li>
						</ul>
					</div>
				</div>
				<div class="under">
					<div class="l-cols2 wrap">
						<div class="col order-2">
							<nav>
								<ul>
									<li><a href="/sitepolicy/">サイトポリシー</a></li>
									<li><a href="/compliance/">コンプライアンスに関する取り組み</a></li>
									<li><a href="/privacy/">個人情報保護方針</a></li>
								</ul>
							</nav>
						</div>
						<div class="col order-1">
							<p class="copy">Copyright(C)2019 SECURE Inc. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="mask"></div>
	<script>
		$(function(){
			function orderReverse(){
				var cardAry=[];
				$(".case-list.reverse .card").each(function(){
					cardAry.push($(this));
				});
				cardAry.reverse();
				for(var i = 0; i < cardAry.length; i++){
					cardAry[i].css("order",i.toString());
				}
			}
			$(window).on("load scroll",function(){
				orderReverse();
			});
		});
	</script>
</body>
</html>