<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5873P36');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>【保存版】企業に求められるコロナ対応まとめ！コロナ発生前後に分けて解説 | 株式会社セキュア</title>
    <meta name="description"
        content="従業員がコロナに感染した場合の企業対応について悩んでいませんか。本記事では、コロナへの感染が疑われる場合と発生した場合の対応についてご紹介します。コロナ対応は企業のBCP改善にも繋がりますので、ぜひご一読ください">
    <meta name="keywords" content="セキュア,SECURE,ニュース,お知らせ,プレスリリース,セキュリティ">
    <link rel="shortcut icon" href="/assets/img/fav.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="【保存版】企業に求められるコロナ対応まとめ！コロナ発生前後に分けて解説 | 株式会社セキュア">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="従業員がコロナに感染した場合の企業対応について悩んでいませんか。本記事では、コロナへの感染が疑われる場合と発生した場合の対応についてご紹介します。コロナ対応は企業のBCP改善にも繋がりますので、ぜひご一読ください">
    <meta property="og:url" content="https://secureinc.co.jp/aioffice/media/countpl/office-virus/">
    <meta property="og:image" content="https://secureinc.co.jp/aioffice/media/countpl/company-with-corona/img/main.jpg">
    <meta property="og:site_name" content="【保存版】企業に求められるコロナ対応まとめ！コロナ発生前後に分けて解説 | 株式会社セキュア">
    <meta property="og:locale" content="ja_JP">
    <link rel="stylesheet" href="/assets/css/common.css?v=20021303">
    <script src="/assets/js/jquery1.8.3.js"></script>
    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/bundle.js"></script>
    <script src="/assets/js/include.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/aioffice/media/office-virus.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5873P36" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header-include"></header>
    <section class="news l-inner news_detail_page">
        <nav class="breadcrumb" style="margin-bottom:0">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/aioffice/">AI Office Base</a></li>
                <li><a href="/aioffice/media/">ワークプレイスDX</a></li>
                <li><span>【保存版】企業に求められるコロナ対応まとめ！コロナ発生前後に分けて解説</span></li>
            </ul>
        </nav>

        <!--<div class="pager">
			<div v-if="around_pages && around_pages.length && around_pages[0]['before']" class="prev">
				<a :href="'/news/detail.html?id=' + around_pages[0]['before']['ID']">PREV NEWS</a></div>
			<div class="pagination">
				<ul>
					<li><a href="/news/"><img src="/assets/img/ico/back.png" alt="" width="20" heigth="19"></a></li>
				</ul>
			</div>
			<div v-if="around_pages && around_pages.length && around_pages[0]['after']" class="next">
				<a :href="'/news/detail.html?id=' + around_pages[0]['after']['ID']">NEXT NEWS</a></div>
		</div>-->

        <div class="l-cols aio_media">
            <div class="col">
                <article>
                    <div class="ta-c">
                        <h1 class="fs-30">【保存版】企業に求められるコロナ対応まとめ！コロナ発生前後に分けて解説</h1>
                        
                        <picture>
                            <source media="(min-width:640px)" srcset="img/main.jpg 2000w">
                            <source media="(min-width:320px)" srcset="img/main_sp.jpg 870w">
                            <img srcset="img/main_sp.jpg 870w, img/main.jpg 2000w" alt="職場環境でのマスク">
                        </picture>

                        <div style="text-align: left;">
                            <ul class="p_list">
                                <li><a href="#prg01">【ケース別】コロナ感染の疑いがある人に企業が対応すべきこととは？</a>
                                    <ul>
                                        <li><a href="#prg01_t01">【ケース1】オフィス出社前で、熱や咳がある場合</a></li>
                                        <li><a href="#prg01_t02">【ケース2】オフィスで仕事中に、体調が悪くなった場合</a></li>
                                    </ul>
                                </li>

                                <li><a href="#prg02">【コロナ感染者の発生後】具体的に必要な6つの対応とは？</a>
                                    <ul>
                                        <li><a href="#prg02_t01">【対応1】感染者への休業指示や労災などの説明</a></li>
                                        <li><a href="#prg02_t02">【対応2】オフィス内の業務停止・消毒依頼</a></li>
                                        <li><a href="#prg02_t03">【対応3】濃厚接触者リストの作成</a></li>
                                        <li><a href="#prg02_t04">【対応4】濃厚接触者・接触者の健康観察</a></li>
                                        <li><a href="#prg02_t05">【対応5】コロナ感染者発生の公表</a></li>
                                        <li><a href="#prg02_t06">【対応6】雇用調整助成金の申請</a></li>
                                    </ul>
                                 </li>
                                <li><a href="#prg03">【コロナ対策】企業のコロナ対策を強化する方法とは？</a></li>
                                <li><a href="#prg04">まとめ：コロナ感染を防ぐ対策が、BCP対策にも影響がある</a></li>
                           </ul>

                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            <div style="text-align:center; margin:20px 0;">
                                <span>無料ダウンロード資料　オフィスに必要なコロナ対策とは？</span><br><br>
                                <a class="btn" href="/aioffice/docs/toranomaki02/?utm_source=media_article"><span>「職場の3密対策 虎の巻」</span></a>
                            </div>
                        </div>
                        <!---->
                    </div>

                    <hr>

                    <div class="block block_inner">
                        <div>
                            <p>「コロナ感染の疑いがある人がいた場合、企業としてどんな対応をすべきか知りたい......」<br>
                                「従業員がコロナに感染した場合、どのように対応すべきか分からない......」<br>
                                と悩んでいませんか？<br>
                                <br>
                                新型コロナウイルスへの感染対策は、企業活動を継続する上で重要な問題です。従業員が万が一コロナに感染した場合、オフィス内を消毒する必要があったり濃厚接触者リストの作成が必要になったりするもの。<br>
                                <br>
                                業務も一時的にストップする可能性もあり、BCP対策にも影響があります。しかしどれほどコロナ対策を講じても、「コロナ感染リスク」を完全に抑えることは困難です。そのため、「オフィスで感染者が発生した場合の対応」も決めておく必要があります。<br>
                                <br>
                                本記事では、「企業に求められるコロナ感染者への対応」について、「感染が疑われる場合」と「感染が発覚した場合」に分けてご紹介します。「オフィスでコロナ感染者が発覚した場合に備えておきたい」という方は、ぜひご一読ください。<br>
                                <br>
                                なお、「そもそもコロナ渦に求められるオフィスの課題が分からない」という方もいるかと思います。<br>
                                オフィスに必要なコロナ対策や課題などについて知りたい方は、「<a href="/aioffice/docs/toranomaki02/?utm_source=media_article">職場の3密対策 虎の巻</a>」をご一読ください。 
                            </p>
                        </div>
                        <!---->
                    </div>


                    <!--#prg01-->
                    <div id="prg01" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    【ケース別】コロナ感染の疑いがある人に企業が対応すべきこととは？</h2>
                                    <picture>
                                        <source media="(min-width:640px)" srcset="img/01.jpg 2000w">
                                        <source media="(min-width:320px)" srcset="img/01_sp.jpg 750w">
                                        <img srcset="img/01_sp.jpg 750w, img/01.jpg 2000w" alt="職場でマスク">
                                    </picture>
                                    <p>ここからは、コロナ感染が疑われる場合に企業がとるべき対応について解説します。ただ、先に要点だけ知りたいという方もいるでしょう。<br>
                                        <br>
                                    そんな方に向けて、コロナ感染が疑われる場合の対応まとめを用意しました。</p>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            
                            <strong>■コロナ感染が疑われる場合の対応</strong><br>
                                <ul class="def_list">
                                    <li>前提
                                        <ul><li>体調不良の場合は休暇を取るルールを作っておく（ただし、ルールは守られない可能性があることを考慮しておく）</li></ul>
                                    </li>
                                    <li>出社前に感染が疑われる場合
                                        <ul><li>従業員から連絡があった場合は、休暇や病院の受診を指示する</li></ul>
                                    </li>
                                    <li>勤務中に感染が疑われた場合
                                        <ul><li>検温を行う</li>
                                            <li>高熱がでている場合は、<em>“どこで仕事をしていたか”</em>、<em>“だれと接触したか”</em>などを聞き出した後、病院の受診を指示する
                                            </li>
                                        </ul>
                                    </li>
                                    <li>オフィスでコロナ感染者が確認された場合
                                        <ul><li>コロナ感染者への休業指示と賃金の取り決めを行う</li>
                                            <li>オフィス内の消毒および業務を一時停止する</li>
                                            <li>接触者リストの作成および健康観察</li>
                                            <li>コロナ感染者が発生した旨の公表</li>
                                            <li>雇用調整助成金などの申請</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>詳細について、1つずつ詳しくご紹介します。</p>


                                <h3 id="prg01_t01" class="fs-20">【ケース1】オフィス出社前で、熱や咳がある場合</h3>

                                <p>「出社前だけど、体調がいつもより悪い」と感じている従業員が発生した場合に備え、会社として下記のポイントについて、事前に決めておく必要があります。</p>

                                <h4 id="prg01_t01_01" class="fs-18">オフィス出社前に熱や咳がある場合</h4>

                                <ol class="no_def">
                                    <li><span>体調不良の場合は基本的に休ませるようルールを決めておく</span></li>
                                    <li><span>従業員から連絡があった場合は、以下を行う<br>
                                        ・「休暇や病院の受診」を指示する<br>
                                        ・「症状のヒアリング」をする</span>
                                        
                                    </li>
                                    <li><span>病院を受診後、結果を報告するよう指示する</span></li>
                                </ol>

                                <p>もしも従業員のコロナウイルス感染が疑われる場合は、帰国者・接触者相談センター（地域によって名称が異なる場合があります）へ相談しましょう。厚労省ホームページ上では、「コロナウイルスの相談・受診の目安」が公開されています。</p>

                                <div class="inner_box01">
                                <p style="margin-bottom:5px">○ 少なくとも以下のいずれかに該当する場合には、すぐに御相談ください。（これらに該当しない場合の相談も可能です。）<br>
                                &nbsp;　☆ 息苦しさ（呼吸困難）、強いだるさ（倦怠感）、高熱等の強い症状のいずれかがある場合<br>
                                &nbsp;　☆ 重症化しやすい方（※）で、発熱や咳などの比較的軽い風邪の症状がある場合<br>
                                &nbsp;　（※）高齢者、糖尿病、心不全、呼吸器疾患（COPD等）等の基礎疾患がある方や透析を受けている方、免疫抑制剤や抗がん剤等を用いている方<br>
                                &nbsp;　☆ 上記以外の方で発熱や咳など比較的軽い風邪の症状が続く場合<br>
                                &nbsp;　（症状が４日以上続く場合は必ずご相談ください。症状には個人差がありますので、強い症状と思う場合にはすぐに相談してください。解熱剤などを飲み続けなければならない方も同様です。）</p>
                                <span class="note">引用元：厚生労働省「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00094.html" target="_blank">国民の皆さまへ （新型コロナウイルス感染症）</a>」</span>
                                </div>

                                <p style="margin-bottom:5px">従業員がいずれかの項目に当てはまる場合は、コロナに感染しているリスクがあります。最寄りの帰国者・接触者相談センターへ相談しましょう。各都道府県別の相談先は、厚生労働省が公開している以下のページをご確認ください。
                                </p>
                                <span class="note">引用元：厚生労働省「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/covid19-kikokusyasessyokusya.html" target="_blank"></a>新型コロナウイルスに関する帰国者・接触者相談センター</a>」</span>
                                <br>
                                <br> 
                                <p>出勤前に体調の異変に気づけば、万が一コロナに感染していた場合でも、職場内での感染拡大リスクを抑えることができますよね。とはいえ中には「オフィスで働いていた従業員の体調が急変し、病院を受診させたらコロナ感染が判明した」というケースも発生するでしょう。<br>
                                <br>
                                そこで次に、仕事中に体調が悪くなった場合の対処方法についてご紹介します。</p>


                                <h4 id="prg01_t01_02" class="fs-18">・時間がかかるが効果の高いもの</h4>

                                <p>出勤前に体調の異変に気づけば、万が一コロナに感染していた場合でも、職場内での感染拡大リスクを抑えることができますよね。とはいえ中には「オフィスで働いていた従業員の体調が急変し、病院を受診させたらコロナ感染が判明した」というケースも発生するでしょう。<br>
                                <br>
                                そこで次に、仕事中に体調が悪くなった場合の対処方法についてご紹介します。</p>

                        </div>
                        <!---->
                    </div>

                    
                    <!--prg01 対策2-->
                    <div class="block block_inner">
                        <div class="col">
                            
                            <h3 id="prg01_t02" class="fs-20">【ケース2】オフィスで仕事中に、体調が悪くなった場合</h3>

                            <p>「仕事中に体調が悪くなった従業員が発生した。新型コロナウイルスに感染していないか心配......。」というケースもあるでしょう。このような場合に備えて、企業側がとるべき対応を事前に決めておくことが重要です。</p>

                            <h4 id="prg01_t01_01" class="fs-18">オフィスで仕事中に体調が悪化した場合</h4>

                            <ol class="no_def">
                                <li><span>オフィスの「どこで」「だれと」仕事をしていたのかヒアリングする</span></li>
                                <li><span>病院の受診を指示する</li>
                                <li><span>診察結果が判明するまで待つ</span></li>
                            </ol>

                            <p>ただし従業員の中には「仕事が溜まっており、休みにくい」という人もいるでしょう。これに対応するため、会社としては「定期的な検温の実施」を行い、高熱が出ている従業員を早期発見する必要があります。<br>
                            <br>
                            とはいえ検温を実施するには、以下のような問題点があります 。</p>

                            <div class="inner_box01">
                            <p style="margin-bottom:5px">
                            （自己申告させる場合）仕事が溜まっているため、多少の高熱があっても働こうとする<br>
                            （総務部が検温を行う場合）検温業務にリソースがとられ、本来の業務が滞るリスクがある</p>
                           </div>

                            <p style="margin-bottom:5px">高熱でも働く従業員がいたり、検温業務のリソースがとられたりする問題を解決するには、「コロナ感染の疑いがある人を自動検知する仕組み」の導入がおすすめです。<br>
                            <br>
                            たとえばクラウド型オフィス管理サービス『SECURE AI Office Base』では、オフィスの入退室時に検温を行い、高熱がでている人の自動検知が可能です。また、マスク着用チェックや、オフィスで3密になりやすい場所を確認できる機能も。<br>
                            <br>
                            オフィスのコロナ対策を強化したい方は、以下をご確認ください。
                            </p>
                        </div>
                        <!---->
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            <div style="text-align:center; margin:20px 0;">
                                <span>\オフィス内で熱のある従業員を検知可能！/</span><br><br>
                                <a class="btn" href="/aioffice/?utm_source=media_article"><span>SECURE AI Office Baseとは？</span></a>
                            </div>
                        </div>
                        <p>ただし会社としてコロナ対策を充実させても、感染リスクを完全に防ぐのは難しいでしょう。そこで次は、万が一コロナ感染者が発生した場合の対応方法について解説します。</p>
                        <!---->
                    </div>

 
            </div>

            <hr>


                    <!--#prg02-->
                    <div id="prg02" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    【コロナ感染者の発生後】具体的に必要な6つの対応とは？</h2>
                                
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/02.jpg 2000w">
                                    <source media="(min-width:320px)" srcset="img/02_sp.jpg 750w">
                                    <img srcset="img/02_sp.jpg 750w, img/02.jpg 2000w" alt="職場電話応対">
                                </picture>
                                <p>新型コロナウイルスへの感染予防は大切ですが、どれほど対策を実施しても感染リスクをゼロにするのは難しいでしょう。<br>
                                <br>
                                そこで以下では、コロナ感染者が発生したときに行うべき6つの対応について解説します。ただ、すべての項目を確認しきれない人もいるでしょう。そんな方へ向けて、6つの対応についてのまとめを用意しました。</p>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            <strong>■コロナ感染が疑われる場合の対応</strong><br>
                                <ol class="no_def">
                                    <li><span>感染者への休業指示と給与についての話し合い<br>&raquo; 労使で相談の上、休業中の賃金を取り決めたうえで休業を指示する</span></li>
                                    <li><span>オフィスでの一時的な業務停止および消毒<br>&raquo; 業務を一時停止して、オフィス内を消毒する</span></li>
                                    <li><span>濃厚接触者リストの作成<br>&raquo; コロナ感染者の行動から、「濃厚接触者」と「接触者」を洗い出してリスト化する</span></li>
                                    <li><span>濃厚接触者・接触者の健康観察<br>&raquo; 濃厚接触者に「14日間は外出を控える」「健康状態に気をつける」などを指示する</span></li>
                                    <li><span>コロナ感染者発生を報告<br>&raquo; 従業員にコロナ感染者が発生したことを報告・公表する</span></li>
                                    <li><span>雇用調整助成金の申請<br>&raquo; 条件に合致する場合、コロナ感染者へ休業指示を出すと助成金を申請できる</span></li>
                                </ol>
                                <p>詳細については下記で、1つずつ詳しくご紹介します。</p>


                                <h3 id="prg02_t01" class="fs-20">【対応1】感染者への休業指示や労災などの説明</h3>

                                <p>従業員に新型コロナウイルス感染者が発生したら、休業の指示および休業期間中の賃金について、労使間で話し合いのうえ取り決める必要があります。</p>


                                <div class="inner_box01">
                                <p style="margin-bottom:5px">休業期間中の賃金の支払いの必要性の有無などについては、個別事案ごとに諸事情を総合的に勘案するべきですが、労働基準法第26条では、使用者の責に帰すべき事由による休業の場合には、使用者は、休業期間中の休業手当（平均賃金の100分の60以上）を支払わなければならないとされています。<br>
                                また、労働基準法においては、平均賃金の100分の60までを支払うことが義務付けられていますが、労働者がより安心して休むことができるよう、就業規則等により各企業において、100分の60を超えて（例えば100分の100）を支払うことを定めていただくことが望ましいものです。</p>
                                <span class="note">引用元：厚生労働省「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/dengue_fever_qa_00007.html#Q4-1" target="_blank">新型コロナウイルスに関するQ&A（企業の方向け）</a>」</span>
                                </div>

                                <p style="margin-bottom:5px">厚生労働省の上記発表について、要点をまとめると下記の通りです。</p>

                                <ul><li>・平均賃金の6割以上を支払う必要がある</li>
                                    <li>・できるだけ賃金を減らさず対応して欲しい</li></ul>
                                
                                <br> 
                                <p>ただし、休業している社員に対して60%以上の賃金支払いは難しいという場合もあるでしょう。この場合は、休業手当の一部が援助される「雇用調整助成金」を活用できないか、検討してみると良いでしょう。<br>
                                <br>
                                雇用調整助成金については、後述の【対応6】にて詳しくご紹介します。</p>

                        </div>
                        <!---->
                    </div>

                    <!--対応2-->
                    <div class="block block_inner">
                        <div class="col">
                            
                            <h3 id="prg02_t02" class="fs-20">【対応2】オフィス内の業務停止・消毒依頼</h3>

                            <p>従業員のコロナ感染が確認された場合、速やかに業務を一時停止し、オフィスの消毒を行う必要があります。オフィスの消毒でおすすめなのが、オフィス消毒業者への依頼です。<br>
                            <br>
                            消毒業者については以下の記事で、都道府県別にまとめております。自社の近くにある業者について知りたい方は、ご確認ください。<br>
                            <!--&raquo; <a href="#">都道府県別のオフィス消毒業者一覧</a>--></p>

                        </div>
                        <!---->
                    </div>

                    <!--対応3-->
                    <div class="block block_inner">
                        <div class="col">
                            
                                <h3 id="prg02_t03" class="fs-20">【対応3】濃厚接触者リストの作成</h3>

                                <p>オフィスでコロナ感染者が確認された場合、感染を広げないためにも「濃厚接触者」を洗い出してリスト化しましょう。厚生労働省ホームページでは、濃厚接触者について以下のように定義されています。</p>

                                <div class="inner_box01">
                                <p style="margin-bottom:5px">濃厚接触かどうかを判断する上で重要な要素は上述のとおり、１．距離の近さと２．時間の長さです。必要な感染予防策をせずに手で触れること、または対面で互いに手を伸ばしたら届く距離（１ｍ程度以内）で15分以上接触があった場合に濃厚接触者と考えられます。</p>
                                <span class="note">引用元：厚生労働省「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/dengue_fever_qa_00001.html#Q3-3" target="_blank">新型コロナウイルスに関するQ&A（一般の方向け）</a>」</span>
                                </div>

                                <p>どのようなフォーマットでリストを作成すべきか悩んでいる方は、千葉県がホームページ上で公開している「調査票」のフォーマットが参考になります。<br>
                                    <span class="note">参考：千葉県HP「<a href="https://www.pref.chiba.lg.jp/shippei/kansenshou/2019-ncov.html" target="_blank"></a>新型コロナウイルス感染症について</a>」</span>
                                </p>
                                
                                
                                <p>なお「厚生労働省の公開している濃厚接触者の定義には当てはまらなかったが、コロナ感染者と接触したことがあり不安」という人もいるでしょう。このような「接触者」の方は、「濃厚接触者」の方と同様に、自身の健康に注意して生活することをおすすめします。<br>
                                    <br>
                                では企業として、濃厚接触者と接触者に対してどういった対応をすれば良いのでしょうか。結論から言うと、濃厚接触者は「14日間の不要不急の外出自粛」「1日2回の体温測定」などを指示することが重要です。詳しく見ていきましょう。
                                </p>
                        </div>
                        <!---->
                    </div>

                    <!--対応4-->
                    <div class="block block_inner">
                        <div class="col">
                            
                            <h3 id="prg02_t04" class="fs-20">【対応4】濃厚接触者・接触者の健康観察</h3>

                            <p>オフィス内で感染者が確認された場合、企業は濃厚接触者および接触者に対して健康観察を行いましょう。まずは「濃厚接触者」と「接触者」の違いについて、あらためてご紹介します。</p>

                            <ul><li>・濃厚接触者：１ｍ程度以内で15分以上接触があった人</li>
                                <li>・接触者：上記基準を満たさないが、コロナ感染者と接触した人</li></ul>


                            <p>濃厚接触者となった場合は、保健所の指示に従い、感染した方と接触した後の14日間は不要不急の外出を控える必要があります。これは仮に陰性と判断された場合も同様です。<br>
                                <br>
                            一方で「濃厚接触者の定義には当てはまらなかったが、念のためPCR検査を受けた」という場合もあるでしょう。この場合も、健康管理が必要となります。<br>
                            <br>
                            企業は濃厚接触者または接触者となった従業員に対して、「1日2回の体温測定」など、健康観察を定期的に実施するよう指示しましょう。仮に体調の悪化などの症状が現れた場合は、すぐに最寄りの保健所へ相談してください。</p>
                        </div>
                        <!---->
                    </div>

                    <!--対応5-->
                     <div class="block block_inner">
                        <div class="col">
                            
                            <h3 id="prg02_t05" class="fs-20">【対応5】コロナ感染者発生の公表</h3>

                            <p>オフィス外への感染拡大を防止するため、自社からコロナ感染者が発生した場合は速やかに公表しましょう。ただし個人の特定に繋がらないよう、個人情報の保護を徹底する必要があります。<br>
                            <br>
                            ただ、「自社からコロナ感染者が発生したことが発覚するとイメージダウンに繋がってしまう」と考える方もいるかもしれません。しかしコロナ感染者が発生した場合は、情報公開が必須となっているため避けられません。<br>
                            <br>
                            ただし公表を焦ってしまうと、誤って個人情報を載せてしまい、従業員が誹謗中傷といった被害を受けるリスクが高まるので注意が必要です。参考までに、厚生労働省によると、コロナ感染を公表する目的と公表時期・方法について以下のように述べています。</p>

                            <div class="inner_box01">
                                <p style="margin-bottom:5px">１ 公表の目的について<br>
                                感染症のまん延を防止し、感染症による健康リスクが個人や社会に与える影響を最小限にするためには、感染症の発生状況等に関する情報を積極的に公表する必要がある。<br>
                                なお、当該情報の公表に当たっては、感染者等に対して不当な差別及び偏見が生じないように、個人情報の保護に留意しなければならない。<br>
                                   （中略）<br>
                                ３ 公表時期について<br>
                                原則として、疑似症患者が発生した段階（国立感染症研究所に検体が到着した時点）で、速やかに厚生労働省ホームページへの掲載、記者会見等を通じて公表を行う。公表の際には、公表内容について事前に自治体や関係省庁等と情報共有を行う。</p>
                                <span class="note">引用元：厚生労働省「<a href="https://www.mhlw.go.jp/content/000601059.pdf" target="_blank">一類感染症が国内で発生した場合における情報の公表に係る基本方針</a>」より一部抜粋</span>
                                </div>
                            
                            <p>上記のポイントをまとめると、以下の通りです。</p>
                            <ul><li>・感染リスクを減らすため、コロナ感染が発覚した企業は情報公開が必要となる</li>
                                <li>・ただし感染者の特定に繋がる情報など、個人情報の保護にも注意する</li>
                                <li>・感染者の症状や行動履歴など、感染を広げないための情報を発信する</li>
                                <li>・公表方法は「厚生労働省ホームページへの記載」や「記者会見」のどちらか</li></ul>

                            <p>より詳細な情報については、下記の厚生労働省が公開した基本方針をご確認ください。<br>
                                <span class="note">参考：厚生労働省「<a href="https://www.mhlw.go.jp/content/000601059.pdf" target="_blank">一類感染症が国内で発生した場合における情報の公表に係る基本方針</a>」</span>
                            </p>
                            
                        </div>
                        <!---->
                    </div>

                    <!--対応6-->
                    <div class="block block_inner">
                        <div class="col">
                            
                            <h3 id="prg02_t06" class="fs-20">【対応6】雇用調整助成金の申請</h3>

                            <p>従業員のコロナ感染が発覚した場合は、雇用調整助成金を受け取れないか確認しましょう。雇用調整助成金とは、新型コロナウイルスの影響により事業縮小を余儀なくされた事業者に対して支給される、従業員の雇用を維持するための助成金のこと。<br>
                                <br>
                            「休業中の賃金支払いが難しい」と悩んでいる経営者の方は、雇用調整助成金の申請がおすすめ。ただし雇用調整助成金を受け取るには、支給対象となる条件をすべて満たす必要があります。</p>

                            <h4 id="prg01_t01_01" class="fs-18">支給対象となる事業主</h4>
                            <p>新型コロナウイルス感染症に伴う特例措置では、以下の条件を満たす全ての業種の事業主を対象としています。</p>
                            <ol class="no_def">
                                <li><span>新型コロナウイルス感染症の影響により経営環境が悪化し、事業活動が縮小している
                                </span></li>
                                <li><span>最近１か月間の売上高または生産量などが前年同月比５％以上減少している(※)<br>
                                    　　　※比較対象とする月についても、柔軟な取り扱いとする特例措置があります。</li>
                                <li><span>労使間の協定に基づき休業などを実施し、休業手当を支払っている</span></li>
                            </ol>
                            <span class="note">引用元：厚生労働省「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/pageL07.html" target="_blank">雇用調整助成金（新型コロナウイルス感染症の影響に伴う特例）</a>」</span>

                            <br><br>
                            <p>これらの要件をすべて満たした場合、最大1日1人あたり15,000円を上限として休業手当等の助成金が支給されます。その他、詳しい制度の概要については厚生労働省ホームページをご確認ください。<br>
                            <span class="note">参考：厚生労働省「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/pageL07.html" target="_blank">雇用調整助成金（新型コロナウイルス感染症の影響に伴う特例）</a>」</span></p>
                            <br>
                            

                            <p>ここまでご紹介した通り、自社から新型コロナ感染者が発生した場合は「時間・お金・労力」がかかるもの。可能な限りオフィスからコロナ感染者が発生しないよう、対策を万全にする必要がありますよね。<br>
                            <br>
                            そこで、企業のコロナ対策を強化する方法についてご紹介します。詳しく見ていきましょう。</p>

                        </div>
                        <!---->
                    </div>

                    <hr>

                    <!--#prg03-->
                    <div id="prg03" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    【コロナ対策】企業のコロナ対策を強化する方法とは？</h2>
                                    <picture>
                                        <source media="(min-width:640px)" srcset="img/03.jpg 2000w">
                                        <source media="(min-width:320px)" srcset="img/03_sp.jpg 750w">
                                        <img srcset="img/03_sp.jpg 750w, img/03.jpg 2000w" alt="会議室でのマスク着用">
                                    </picture>

                                    <strong>■オフィスのコロナ対策</strong><br>
                                    <ol class="no_def">
                                        <li><span>職場内での3密回避<br>&raquo; 仮にコロナ感染者が発生した場合、感染者を増やさないため</span></li>
                                        <li><span>テレワーク、サテライトオフィス、時差出勤の活用<br>&raquo; 通勤時のコロナ感染予防のため</span></li>
                                        <li><span>定期的な検温の実施<br>&raquo; コロナ感染の疑いがある人を早期発見するため</span></li>
                                    </ol>
                                    <p>これらの項目を徹底することで、オフィスでの感染リスク低減に繋がります。さらに詳しい対策案や具体例については、以下の記事をご一読ください。</p>
                                    &raquo; <a href="/aioffice/media/countpl/office-virus/">オフィス コロナ対策</a>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            
                        <p>とはいえ、いきなりテレワークを実施したり定期的な検温を実施すると、</p>
                                <ul><li>・セキュリティの低下</li>
                                    <li>・社員の労務管理の複雑化</li>
                                    <li>・総務部の負担増加</li></ul>

                                <p>といった課題がでてくることも。また「そもそもオフィスにはどのようなリスクが潜んでいる知りたい」という方もいるでしょう。<br>
                                    <br>
                                そのような方に向けておすすめなのが、「職場の3密対策 虎の巻」。こちらは新型コロナウィルス対策をはじめ、テレワークやサテライトオフィス導入といった柔軟な働き方を導入するにはどのようなポイントに注意すべきかまとめております。<br>
                                <br>
                                「急いでテレワークを導入したため、業務プロセスに不備がないか確認したい」「3密回避や社員の労務管理を徹底したい」とお考えの方は、ぜひご一読ください</p>


                                <div class="block block_inner">
                                    <div class="col">
                                     
                                        <div style="text-align:center; margin:0 20px;">
                                            <span>＼オフィスのコロナ対策を強化できる！／</span><br>
                                            <a class="btn" href="/aioffice/docs/toranomaki02/?utm_source=media_article"><span>職場の3密対策 虎の巻とは？</span></a>
                                        </div>
            
                                    </div>
                                    <!---->
                                </div>

                        </div>
                        <!---->
                    </div>

                    <hr>

                    <!--#prg04-->
                    <div id="prg04" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    まとめ：コロナ感染を防ぐ対策が、BCP対策にも影響がある</h2>
                                    <p>今回は、「企業のコロナ対策」について解説しました。最後に、ここまでの内容をまとめます。</p>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            <p>【本記事のまとめ】</p>
                            <ul><li>・「出社前」と「勤務中」に、コロナ感染の疑いがある人を早期発見するのが重要</li>
                                <li>・職場でコロナ感染者が発生した場合、「6つの対応」を実行する</li>
                                <li>・「3密回避」「定期的な検温」「テレワーク導入」の3つが重要</li></ul>

                            <p>従業員の健康を守ったり取引先に迷惑をかけたりしないためにも、企業の新型コロナ対策は必須の業務です。<br>
                                <br>
                            とはいえ、定期的な検温やリモートワークなど、企業にとっての負担も少なくありません。できることなら、職場のコロナ対策と業務の効率化を同時に実現したいですよね。そこでおすすめなのが、職場の感染症対策やリモートワーク推進に役立つ「SECURE AI Office Base」です。</p>


                            <strong>■SECURE AI Office Baseの魅力</strong><br>
                                <ul>
                                    <li>・出退勤時に検温を自動で実施できる</li>
                                    <li>・職場で感染者が発生しても、入退室履歴から濃厚接触者リストが作成可能</li>
                                    <li>・職場内の混雑状況を確認できるため、3密を避けて仕事がしやすい</li>
                                    <li>・どこで誰が出社しているか、アプリ上ですぐに把握できる</li>
                                </ul>

                                <p>SECURE AI Office Baseを導入すれば、「3密回避」「定期的な検温」「テレワークの推進」といった問題を同時に解決できます。<br>
                                    <br>
                                また、どこで誰が働いているのかアプリ上で把握できるため、リモートワークを実施しても、従業員の労務管理は簡単。さらにリモートワークやサテライトオフィスは活動拠点の分散化に繋がるため、BCP（事業継続計画）の推進にも役立ちます。<br>
                                <br>
                                「コロナ対策が大切なのは理解しているが、リソースが足りなくて対策が徹底し切れていない」<br>
                                 「職場のコロナ対策をきっかけに、リモートワークの推進やBCP対策をすすめたい」<br>
                                と悩んでいる方は、以下からお問い合わせください。</p>

                                <br>
                                <div class="block block_inner">
                                    <div class="col">
                                     
                                        <div style="text-align:center; margin:0 20px;">
                                            <span>\企業のコロナ対策やBCP対策が可能！/</span><br>
                                            <a class="btn" href="/aioffice/?utm_source=media_article"><span>SECURE AI Office Baseとは？</span></a>
                                        </div>
            
                                    </div>
                                    <!---->
                                </div>

                        </div>
                        <!---->
                    </div>

                </article>
            </div>

           
        </div>

        <!--<div class="pager">
			<div v-if="around_pages && around_pages.length && around_pages[0]['before']" class="prev">
				<a :href="'/news/detail.html?id=' + around_pages[0]['before']['ID']">PREV NEWS</a></div>
			<div class="pagination">
				<ul>
					<li><a href="/news/"><img src="/assets/img/ico/back.png" alt="" width="20" heigth="19"></a></li>
				</ul>
			</div>
			<div v-if="around_pages && around_pages.length && around_pages[0]['after']" class="next">
				<a :href="'/news/detail.html?id=' + around_pages[0]['after']['ID']">NEXT NEWS</a></div>
		</div>-->

    </section>
 

    <!--3mitsu download include-->
    <div class="3mitsu-include"></div>
    <!--//3mitsu download include-->

    <div class="pagetop">
        <span class="fs-renner">PAGE TOP</span>
    </div>
    <footer class="footer-include"></footer>
    <div class="mask"></div>
</body>

</html>