<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5873P36');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>【生産性が上がる】ABWとは？特徴やフリーアドレスとの違いを解説！ | 株式会社セキュア</title>
    <meta name="description"
        content="働き方改革やコロナ対策などの影響で、ABWが気になっている方もいるのではないでしょうか。そこで今回は、ABWの働き方や生産性が上がる理由について解説します。フリーアドレスとの違いも解説しているので、ぜひご一読ください">
    <meta name="keywords" content="セキュア,SECURE,ニュース,お知らせ,プレスリリース,セキュリティ">
    <link rel="shortcut icon" href="/assets/img/fav.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="【生産性が上がる】ABWとは？特徴やフリーアドレスとの違いを解説！ | 株式会社セキュア">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="働き方改革やコロナ対策などの影響で、ABWが気になっている方もいるのではないでしょうか。そこで今回は、ABWの働き方や生産性が上がる理由について解説します。フリーアドレスとの違いも解説しているので、ぜひご一読ください">
    <meta property="og:url" content="https://secureinc.co.jp/aioffice/media/countpl/about-abw/">
    <meta property="og:image" content="https://secureinc.co.jp/aioffice/media/countpl/about-abw/img/main.jpg">
    <meta property="og:site_name" content="【生産性が上がる】ABWとは？特徴やフリーアドレスとの違いを解説！ | 株式会社セキュア">
    <meta property="og:locale" content="ja_JP">
    <link rel="stylesheet" href="/assets/css/common.css?v=20021303">
    <script src="/assets/js/jquery1.8.3.js"></script>
    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/bundle.js"></script>
    <script src="/assets/js/include.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/aioffice/media/office-virus.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5873P36" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header-include"></header>
    <section class="news l-inner news_detail_page">
        <nav class="breadcrumb" style="margin-bottom:0">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/aioffice/">AI Office Base</a></li>
                <li><a href="/aioffice/media/">ワークプレイスDX</a></li>
                <li><span>【生産性が上がる】ABWとは？特徴やフリーアドレスとの違いを解説！</span></li>
            </ul>
        </nav>

        <!--<div class="pager">
			<div v-if="around_pages && around_pages.length && around_pages[0]['before']" class="prev">
				<a :href="'/news/detail.html?id=' + around_pages[0]['before']['ID']">PREV NEWS</a></div>
			<div class="pagination">
				<ul>
					<li><a href="/news/"><img src="/assets/img/ico/back.png" alt="" width="20" heigth="19"></a></li>
				</ul>
			</div>
			<div v-if="around_pages && around_pages.length && around_pages[0]['after']" class="next">
				<a :href="'/news/detail.html?id=' + around_pages[0]['after']['ID']">NEXT NEWS</a></div>
		</div>-->

        <div class="l-cols aio_media">
            <div class="col">
                <article>
                    <div class="ta-c">
                        <h1 class="fs-30">【生産性が上がる】ABWとは？特徴やフリーアドレスとの違いを解説！</h1>
                        
                        <picture>
                            <source media="(min-width:640px)" srcset="img/main.jpg 2000w">
                            <source media="(min-width:320px)" srcset="img/main_sp.jpg 870w">
                            <img srcset="img/main_sp.jpg 870w, img/main.jpg 2000w" alt="職場グラフィック">
                        </picture>

                        <div style="text-align: left;">
                            <ul class="p_list">
                                <li><a href="#prg01">【ABWとは？詳しい特徴やフリーアドレスとの違いを解説！</a>
                                    <ul>
                                        <li><a href="#prg01_t01">ABWとは？概要や目的を解説！</a></li>
                                        <li><a href="#prg01_t02">【生産性向上の秘訣】XORKによるABWの10の活動とは？</a></li>
                                        <li><a href="#prg01_t03">ABWとフリーアドレスの違いは？カフェや在宅で働けるのが大きな違い！</a></li>
                                    </ul>
                                </li>
                                <li><a href="#prg02">ABWのメリット・デメリットとは？魅力や効果を紹介！</a></li>
                                <li><a href="#prg03">【知らないと損する】ABW導入後の効果を見極める3つのポイントとは？</a>
                                    <ul>
                                        <li><a href="#prg03_t01">【ポイント1】ABWを導入しやすい職種・しづらい職種を理解する</a></li>
                                        <li><a href="#prg03_t02">【ポイント2】ABWの導入事例から、自社の導入イメージを固める</a></li>
                                        <li><a href="#prg03_t03">【ポイント3】ABW導入後の費用対効果を簡単にシミュレーションしてみる</a></li>
                                    </ul>
                                 </li>
                                <li><a href="#prg04">ABWの導入プロセスは？必要な準備や流れを解説！</a></li>
                                <li><a href="#prg05">まとめ：ABWを導入すると【コスト削減・生産性向上】につながる！</a></li>
                           </ul>

                        </div>
                    </div>
   
                    <br>
                    <div class="block block_inner">
                        <div class="col">
                            <div style="text-align:center; margin:20px 0;">
                                <span>▼ABWの導入をお考えの方におすすめ！<br>働き方改革の推進が可能</span><br><br>
                                <a class="btn" href="/aioffice/?utm_source=media_article"><span>『SECURE AI Office Base』とは？</span></a>
                            </div>
                        </div>
                        <!---->
                    </div>

                    <hr>

                    <div class="block block_inner">
                        <div>
                            <p>「ABWは、具体的にどんな働き方なんだろう......」<br>
                                「ABWの具体的な特徴や、フリーアドレスとの違いを詳しく知りたい！」<br>
                                「ABWを導入すると、具体的にどんな効果があるのかな......」<br>
                                と疑問を感じていませんか？<br>
                                <br>
                                そこで今回は、ABWの特徴やフリーアドレスとの違い、生産性が上がる理由などについて解説します。働き方改革を推進し、生産性の向上や経費削減などにつなげたい方はご一読ください。<br>
                                <br>
                                ABWは生産性アップや経費削減に効果的ですが、「オフィス管理」に対策が必要になることも。具体的な対策について知りたい方は、「<a href="/aioffice/?utm_source=media_article">ニューノーマル時代のオフィス管理が可能な『SECURE AI Office Base』</a>」からお気軽にお問い合わせください。
                            </p>
                        </div>
                        <!---->
                    </div>


                    <!--TOPIC01-->
                    <div id="prg01" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    ABWとは？詳しい特徴やフリーアドレスとの違いを解説！</h2>
                                    <picture>
                                        <source media="(min-width:640px)" srcset="img/01.jpg 2000w">
                                        <source media="(min-width:320px)" srcset="img/01_sp.jpg 750w">
                                        <img srcset="img/01_sp.jpg 750w, img/01.jpg 2000w" alt="オフィス空間　働き方イメージ">
                                    </picture>
                                    <p>ABWとは、どのような働き方なのでしょうか。「ABWの働き方のイメージ」や「生産性が上がる理由」をわかりやすく解説するために、次の3つに分けて解説します。</p>

                                    <div class="inner_box01">
                                        <p style="margin-bottom:5px">
                                        ・ABWとは？<br>
                                        ・XORKによるABWの10の活動とは？<br>
                                        ・ABWとフリーアドレスの違いは？<br>
                                        </p>
                                    </div>
            
                                    <p>1つずつ詳しく見ていきましょう。</p>


                                <!--prg01 01-->
                                    <h3 id="prg01_t01" class="fs-20">&nbsp;ABWとは？概要や目的を解説！</h3>

                                    <p>ABWは、「仕事内容」に合わせて「働く場所」を自ら選択できる働き方のこと。Activity Based Working（アクティビティ・ベースド・ワーキング）の頭文字を取って、ABW（エービーダブリュー）と呼ばれています。<br>
                                    <br>
                                    オランダのVeldhoen＋Company社（ヴェルデホーエン社）から始まった新しい働き方で、日本でもさまざまな企業で導入が進められています。<br>
                                    <br>
                                    ABWでは、働く場所がオフィスに限定されません。具体的に言うと、以下のような働き方が可能となります。</p>
            
                                    <div class="inner_box01">
                                        <ul class="def_list02">
                                            <li>図書館で情報収集しながら資料を作成</li>
                                            <li>1人で黙々と作業したいときは、集中できる個室スペースで作業</li>
                                            <li>カフェでコーヒーを飲みながら、企画のアイディアを練る</li>
                                            <li>上司や同僚と、リラックスできるソファー席でカジュアルに会話</li>
                                            <li>保育園の送り迎え時間を確保するために、在宅勤務で働く</li>
                                        </ul>
                                    </div>
            
                                    <p>「働きやすい」と思う環境を自分で選んで仕事できるため、ストレスが減って「生産性」が上がります。そして働きやすくなると「従業員満足度」も向上するため、優秀な人材の獲得もしやすくなるといわれています。<br>
                                    <br>
                                    またコスト面で言うと、次のような経費削減も可能です。<br>
                                    </p>
            
                                    <h4 id="prg01_t01_01" class="fs-18">ABW導入後に削減できる固定費の例</h4>
            
                                    <ol class="no_def">
                                        <li><span>固定席の撤廃でオフィス面積が縮小し、「賃料」や「電気代」が減る</span></li>
                                        <li><span>ABWの働き方に合わせてペーパーレス化が進み、「紙の印刷・管理コスト」が減る
                                        </span></li>
                                    </ol>
            
                                    <p>このように、ABWは生産性や経費削減に直結します。ただ、具体的な働き方がよくわからない方も多いでしょう。<br>
                                    <br>
                                    そこで、ABＷの核となる「ABWの10の活動」について詳しく解説します。</p>

                                <!--prg01 02-->
                                    <h3 id="prg01_t02" class="fs-20">【生産性向上の秘訣】XORKによるABWの10の活動とは？</h3>

                                    <p>「ABWの10の活動」とは、Veldhoen＋Company社（ヴェルデホーエン社）の研究に基づき、従業員の活動を10個に分類した考え方のこと。具体的に言うと、次のような分類があります。</p>

                                    <table width="100%" border="1" cellspacing="3" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <th scope="col">人数</th>
                                            <th scope="col">活動内容</th>
                                            <th scope="col">特徴</th>
                                        </tr>
                                        <tr>
                                            <th scope="row" rowspan="3">1人</th>
                                            <td>高集中</td>
                                            <td>・誰からも中断されない高いレベルの集中作業</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>コワーク</td>
                                            <td>・短い会話や質問をするのはOK <br>
                                            ・上司・同僚と場所を共有しながら行う作業</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>電話/WEB会議</td>
                                            <td>・電話でのやり取り<br>
                                            ・オンライン上で行う会議<br></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" rowspan="2">2人</th>
                                            <td>2人作業</td>
                                            <td>・上司・同僚など、2人が横並びで行う作業<br>
                                            ・パソコン画面を見て相談しながら作業を進めるなど</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>対話</td>
                                            <td>・2人、もしくは3人で行うミーティングや会話<br>
                                            ・事前スケジュールなしに突発的に始めても良い</td>
                                        </tr>
                                            <tr>
                                            <th scope="row" rowspan="3">3人</th>
                                            <td>アイディア出し</td>
                                            <td>・新たなプロセスやアイディアを構築する作業<br>
                                            ・3人以上で行う</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>情報整理</td>
                                            <td>・計画の進捗確認や議論をするための会議 <br>
                                            ・3人以上で計画的に行う</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>知識共有</td>
                                            <td>・プレゼンなどで知識を共有する<br>
                                            ・3人以上で行い、主にプレゼンターが話す</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" rowspan="2">その他</th>
                                            <td>リチャージ</td>
                                            <td>・仕事から離れてリフレッシュ</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>専門作業</td>
                                            <td>・特別な設備が必要となる作業</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <span class="note">（参考：<a href="https://www.veldhoencompany.com/ja/news/workplace-transformation-japan/" target="_blank">https://www.veldhoencompany.com/ja/news/workplace-transformation-japan/</a>）</span>

                                    <br> <br>
                                    <p>「仕事の内容に合わせて10個の環境を活用して働くことで、生産性が上がる」というわけです。ここまで聞いて、次のように思った方もいるのではないでしょうか。<br>
                                    <br>
                                    「自由に席を選べるなら、ABWもフリーアドレスも同じなのでは？」<br>
                                    「ABWとフリーアドレスは、具体的にどこが違うんだろう？」<br>
                                    <br>
                                    次に、ABWとフリーアドレスの違いについて見ていきましょう。</p>


                                <!--prg01 03-->
                                    <h3 id="prg01_t03" class="fs-20">ABWとフリーアドレスの違いは？カフェや在宅で働けるのが大きな違い！</h3>

                                    <p>フリーアドレスはオフィスの「自席」を撤廃し、空いているデスクを自由に選べる働き方です。しかしABWは、ただ空いているデスクを選んで仕事をするだけではありません。<br>
                                    <br>
                                    「オフィス以外」を含めた、仕事しやすい環境を選ぶところが大きな違いです。具体的に言うと、次のようにオフィス以外で働く環境を利用できることも。</p>

                                    <strong>■ABWのオフィス以外で働く環境の例</strong><br>
                                    <div class="inner_box01">
                                        <ul class="def_list02">
                                            <li>サテライトオフィス（支社）</li>
                                            <li>コワーキングスペース</li>
                                            <li>カフェ</li>
                                            <li>自宅</li>
                                        </ul>
 
                                    </div>

                                    <p>そのため、フリーアドレスよりも柔軟な働き方を選択できるようになります。では、具体的なABWのメリット・デメリットは何があるのでしょうか。<br>
                                    <br>
                                    続いて、ABWのメリット・デメリットを見ていきましょう。</p>

                            </div>

                        </div>
                    </div>

                    

                    <hr>

                    <!--TOPIC02-->
                    <div id="prg02" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    ABWのメリット・デメリットとは？魅力や効果を紹介！</h2>
                                
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/02.jpg 2000w">
                                    <source media="(min-width:320px)" srcset="img/02_sp.jpg 750w">
                                    <img srcset="img/02_sp.jpg 750w, img/02.jpg 2000w" alt="メリット・デメリット">
                                </picture>
                                
                                <p style="width:100%;">まずは、ABWのメリットについて見てみましょう。</p>

                                <strong>■ABWのメリット</strong><br>

                                <div class="inner_box01">
                                    <ul class="def_list02">
                                        <li>オフィス面積を減らせるため、賃料や電気代などのコスト削減が可能！</li>
                                        <li>自ら考えた働きやすい環境で仕事をするため、従業員の生産性が向上</li>
                                        <li>ワークライフバランスを重視できるため、従業員の満足度が上がる</li>
                                        <li>働きやすいオフィス環境により、優秀な人材の獲得や離職防止につながる</li>
                                    </ul>
                                       
                                </div>

                                <p>「企業」にも「従業員」にも魅力的な部分が多いABWですが、実はデメリットになるポイントもいくつかあります。事前に知っておくと、対策して導入後の効果が上がりやすくなるので見てみましょう。</p>

                                <strong>■ABWのデメリット</strong><br>
                                <div class="inner_box01">
                                    <ul class="def_list02">
                                        <li>従業員がどこで何をしているのか把握・管理がしにくい</li>
                                        <li>コミュニケーションが取りづらくなる可能性がある</li>
                                        <li>従業員の自主性が求められる</li>
                                    </ul>
                                     
                                </div>

                                <p>ABWを導入すると、働く場所がオフィスに限りません。そのため、従業員がどこで働いているのか把握しづらくなります。その結果、「労務管理」や「勤怠管理」などで、課題が出て来ることも。<br>

                                    このように、デメリットもあることを忘れてはなりません。<br>
                                <br>
                                
                                ここまで、ABWの特徴やメリット・デメリットについて解説しました。ここまで読んで、ABWの導入を検討している方もいるのではないでしょうか。<br>
                                <br>
                                ただ、ABW導入後の効果を上げるために、いくつか注意すべき点があります。そこで、「ABW導入後の効果を見極める3つのポイント」をご紹介します。
                                </p>

                            </div>
                        </div>
                    </div>

                    <hr>

                    <!--TOPIC03-->
                    <div id="prg03" class="block block_inner">
                        <div class="col">
                            <h2 class="fs-24">
                                【知らないと損する】ABW導入後の効果を見極める3つのポイントとは？</h2>
                            
                            <picture>
                                <source media="(min-width:640px)" srcset="img/03.jpg 2000w">
                                <source media="(min-width:320px)" srcset="img/03_sp.jpg 750w">
                                <img srcset="img/03_sp.jpg 750w, img/03.jpg 2000w" alt="黒板ポイント">
                            </picture>
                            
                            <p>ABW導入後の効果を見極めるポイントは、次の3つ。</p>

                        </div>

                        <ol class="no_def">
                            <li><span>ABWを導入しやすい職種・しづらい職種を理解する</span></li>
                            <li><span>ABWの導入事例から、自社の導入イメージを固める</li>
                            <li><span>ABW導入後、費用対効果はどのぐらい上がるの？</span></li>
                        </ol>
                        <p>ABW導入後に「思ったように生産性が上がらない......」といった結果にならないよう、まずはご一読ください。</p>

                        <!--TOPIC03 01-->
                        <div class="col">
                            <h3 id="prg03_t01" class="fs-20">【ポイント1】ABWを導入しやすい職種・しづらい職種を理解する</h3>
                            <p>ABWを導入したからといって、必ずしもすべての企業や職種で効果が出るとは言い切れません。なぜなら、ABWが合わないケースもがあるからです。<br>
                                <br>
                            ABWは働く場所が多様化するため、常に座って仕事しないような職種に向いています。たとえば、営業や企画職などの場合は導入しやすいでしょう。<br>
                            <br>
                            しかし、専用の機材を必要とする研究職や、スペックの高いデスクトップPCなどが必須となる開発職の場合は、移動がしづらくABWを導入しづらいことも。こういったABWの導入しやすい職種・しづらい職種がある点に、注意しなければなりません。<br>
                            <br>
                            では、導入しづらい職種の場合は、ABWを導入できないのでしょうか。<br>
                            <br>
                            結論から言うと、ABWを導入しづらい職種でも問題ありません。あくまでも「一般的なABWの環境だと、導入しづらい」というだけで、自社に最適なABWの環境を設計すれば良いからです。<br>
                            <br>
                            自社に最適なABWを設計するときは、導入事例から逆算するのがおすすめです。次に、「ABWの導入事例から、自社の導入イメージを固める方法」をご紹介します。</p>
                        </div>

                        <!--TOPIC03 02-->
                        <div class="col">
                            <h3 id="prg03_t02" class="fs-20">【ポイント2】ABWの導入事例から、自社の導入イメージを固める</h3>
                            <p>「ABWの導入事例を見て、導入イメージを固めるってどういうこと？」と思った方もいるかもしれませんね。そんな方に向けて、具体的な理由を解説します。<br>
                            <br>
                            ABWの導入事例を見ると、次の4つのことがわかります。</p>

                            <ol class="no_def">
                                <li><span>ABW導入の目的</span></li>
                                <li><span>ABW導入前の課題</li>
                                <li><span>自社で導入したABWの働く環境の例</span></li>
                                <li><span>ABW導入後の効果を上げるために実施した施策</span></li>
                            </ol>

                            <p>特に「ABW導入前の課題」や「ABWの働く環境の例」などがわかると、ABW導入前の参考になるのではないでしょうか。また、「ABW導入後の効果を上げるために実施した施策」がわかれば、導入前に必要な準備もイメージしやすくなります。<br>
                                <br>
                            このように導入事例の情報を自社に置き換えて考えることで、自社のABW導入イメージがしやすくなるのです。似た業種の事例を見れば、より自社のABW導入イメージがしやすくなるでしょう。<br>
                            <br>
                            ABWの導入事例については、以下で11企業に分けて解説しています。自社に導入するイメージをより具体化したい方は、ご一読ください。<br>
                            <br>
                            【ABW オフィス 事例】</p>
                        </div>
                        
                        <!--TOPIC03 03-->
                        <div class="col">
                            <h3 id="prg03_t03" class="fs-20">【ポイント3】ABW導入後、費用対効果はどのぐらい上がるの？</h3>
                            <p>「ABWを導入後の効果では、「費用対効果が高い」といった結果が多く見られました。<br>
                                <br>
                            たとえば三井デザインテックの「<a href="https://www.mitsui-designtec.co.jp/topics/20190215_newsrelease.pdf" target="_blank">Activity Based Working(ABW)に関する調査研究</a>」によると、ABWを導入したオフィスは「仕事のパフォーマンス向上にプラスの影響がある」とされています。次の図を見てみましょう。</p>

                            <picture>
                                <source media="(min-width:640px)" srcset="img/04.jpg 2000w">
                                <source media="(min-width:320px)" srcset="img/04.jpg 750w">
                                <img style="max-width:640px; margin:0 auto; display:block;" srcset="img/04.jpg 750w, img/04.jpg 2000w" alt="レイアウトとワーク・エンゲイジメントの関係">
                            </picture>

                            <span class="note">（引用元：「<a href="https://www.mitsui-designtec.co.jp/topics/20190215_newsrelease.pdf" target="_blank">Activity Based Working(ABW)に関する調査研究</a>）</span>

                            <br>
                            <br>
                            <p>この結果では「ワーク・エンゲイジメント」、つまり「仕事に対する意欲」が向上していることがわかります。<br>
                            <br>
                            また、フリーアドレスと比べて「精神的・身体的ストレスの負担」が少なくなっているところもポイントです。次の図を見てみましょう。</p>

                            <picture>
                                <source media="(min-width:640px)" srcset="img/05.jpg 2000w">
                                <source media="(min-width:320px)" srcset="img/05.jpg 750w">
                                <img style="max-width:640px; margin:0 auto; display:block;" srcset="img/05.jpg 750w, img/05.jpg 2000w" alt="レイアウトとストレスの関係">
                            </picture>

                            <p>さらに、ABWを導入しているシービーアールイー株式会社が発表した「ABW導入1年後の成果」によると、大幅なコストダウンが実現できた事例も。</p>

                            <table width="100%" border="1" cellspacing="3" cellpadding="0">
                                <tbody>
                                    <tr>
                                    <th scope="col">削減項目</th>
                                    <th scope="col">削減数値</th>
                                    
                                    </tr>
                                    <tr>
                                    <td scope="row">オフィス面積</td>
                                    <td>-18％</td>
                                    </tr>
                                    <tr>
                                    <td scope="row">電力消費量</td>
                                    <td>-25％</td>
                                    </tr>
                                    <tr>
                                    <td scope="row">移転時の書類</td>
                                    <td>-92％</td>
                                    </tr>
                                    <tr>
                                    <td scope="row">移転時のキャビネット</td>
                                    <td>-84％</td>
                                    </tr>
                                    <tr>
                                    <td scope="row">印刷コスト</td>
                                    <td>-3,000万円(年間)</td>
                                    </tr>

                                </tbody>
                                </table>

                                <span class="note">参考：（<a href="https://www.shigotoba.net/cbre_1706_3_wadainoabw_zenpen.html" target="_blank">https://www.shigotoba.net/cbre_1706_3_wadainoabw_zenpen.html</a>）</span>

                                <br><br>
                                <p>このようにABWを導入することで従業員の生産性が高まり、オフィスの固定費削減につながった事例は多いです。長い目で見ると、費用対効果が高い取り組みと言えるでしょう。<br>
                                <br>
                                では、ABWの導入は具体的にどういった流れで進めればいいのでしょうか。次に、ABWの導入に必要な準備や流れについて見ていきましょう。</p>

                        </div>
                        <!---->
                    </div><!---->
    
                    <hr>

                    <!--#prg04-->
                    <div id="prg04" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    ABWの導入プロセスは？必要な準備や流れを解説！</h2>
                                    <picture>
                                        <source media="(min-width:640px)" srcset="img/06.jpg 2000w">
                                        <source media="(min-width:320px)" srcset="img/06_sp.jpg 750w">
                                        <img srcset="img/06_sp.jpg 750w, img/06.jpg 2000w" alt="ステップイメージ">
                                    </picture>

                                    <p>ABW導入までのプロセスには、以下の4つのステップがあります。</p>

                                    <table width="100%" border="1" cellspacing="3" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <th scope="col">4つのプロセス</th>
                                            <th scope="col">詳細</th>
                                            
                                          </tr>
                                          <tr>
                                            <td scope="row"> 1.調査・分析</td>
                                            <td>・アンケートなどで、オフィスの現状や従業員のニーズを把握</td>
                                          </tr>
                                          <tr>
                                            <td scope="row"> 2.計画</td>
                                            <td>・ワークスペースの検討<br>
                                                ・ABWの目的を明確化、規制やルールを検討</td>
                                          </tr>
                                          <tr>
                                            <td scope="row"> 3.実行</td>
                                            <td>・ワークスペースの構築<br>
                                                ・ABWの理解を深めるためのミーティングを開催<br>
                                                ・規制やルールを具体的に決定</td>
                                          </tr>
                                          <tr>
                                            <td scope="row"> 4.運用・改善</td>
                                            <td>・環境改善を続けるために、定期的なアンケートを実施</td>
                                          </tr>
                                          
                                        </tbody>
                                    </table>

                                      <p>ここで重要となるのが、「一方的にABWを推し進めてしまうと、混乱を招く」といった点です。<br>
                                      <br>
                                      新しい働き方ゆえに、従業員から理解を得られない場合もあります。そういった気持ちに蓋をして進めてしまうと、想定した効果を実現できない可能性も。そのため、「ABWの働き方に対する不安をなくす準備」を進めていくことが重要です。</p>

                                      <strong>■ABW導入後の働き方に対する不安をなくす準備の例</strong><br>

                                    <div class="inner_box01">
                                        <ul class="def_list02">
                                            <li>管理職と一般職に分けて説明会を複数回実施</li>
                                            <li>新しいモバイル機器や、システムの使い方をレクチャーする場を設ける</li>
                                            <li>従業員からの質問をメールやチャットなどで聞いて回答する</li>
                                        </ul>
                                         
                                    </div>

                                    <p>また働き方の変化により、新たな課題が生まれることも。たとえばABWでは自席がないため、誰がどこで仕事をしているかが把握しにくくなるといった課題があります。生産性に大きく影響が出ることもあるので、対策が必要です。<br>
                                    <br>
                                    クラウド型オフィス管理サービス『AI Office Base』なら、ABW導入後に必須となる「オフィスへの出退勤の履歴」や「従業員のいる場所」などが、クラウド上で簡単に管理できるようになります。<br>
                                    <br>
                                    オフィスや従業員の管理方法について相談に乗ることも可能なので、お気軽にお問い合わせください。</p>
                                
                            </div>
                        </div>
                    </div>

                
                    <br>
                    
                    
                    <div class="block block_inner">
                        <div class="col">
                            
                            <div style="text-align:center; margin:0 20px;">
                                <span>＼ABW導入後のオフィス管理の問題を解決！／</span><br>
                                <a class="btn" href="/aioffice/?utm_source=media_article"><span>『SECURE AI Office Base』の詳細はこちら！</span></a>
                            </div>

                        </div>
                        
                    </div><!---->

                    <hr>

                   <!--#prg05-->
                    <div id="prg05" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                まとめ：ABWを導入すると【コスト削減・生産性向上】につながる！</h2>
                                <p>今回は、ABWの特徴やフリーアドレスとの違い、生産性が上がる理由などについて解説しました。最後に、ABWのポイントをもう一度おさらいしておきましょう。</p>

                                <div class="inner_box01">
                                    <ul class="def_list02">
                                        <li>ABWは、仕事内容に合わせて働く場所を自ら選択できる働き方</li>
                                        <li>自宅やカフェでも仕事が可能となり、賃料や電気代などのコスト削減が可能</li>
                                        <li>個々人が成果の出やすい環境を利用できるため、生産性が上がる</li>
                                        <li>保育園の送り迎えなどで出勤がしづらい場合も、在宅勤務で働ける</li>
                                    </ul>
                                    
                                </div>

                                <p>このように、ABWを導入すると「企業」にも「従業員」にも大きなメリットがあります。しかし、魅力的な働き方の裏には、従業員の働き方が把握できずに管理が大変になるデメリットも。<br>
                                <br>
                                オフィス管理で生産性を落としたくない場合は、従業員の在籍管理や勤怠管理ができる『AI Office Base』がおすすめです。コロナ対策なども同時に実施できるため、以下から詳細確認してみてはいかがでしょうか。</p>

                            </div>
                        </div><!---->
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            
                            <div style="text-align:center; margin:0 20px;">
                                <span>\ABWでも生産性を落とさない！/</span><br>
                                <a class="btn" href="/aioffice/?utm_source=media_article"><span>『SECURE AI Office Base』の詳細はこちら！</span></a>
                            </div>

                        </div>
                        
                    </div>

                </article>
            </div>

           
        </div>

        <!--<div class="pager">
			<div v-if="around_pages && around_pages.length && around_pages[0]['before']" class="prev">
				<a :href="'/news/detail.html?id=' + around_pages[0]['before']['ID']">PREV NEWS</a></div>
			<div class="pagination">
				<ul>
					<li><a href="/news/"><img src="/assets/img/ico/back.png" alt="" width="20" heigth="19"></a></li>
				</ul>
			</div>
			<div v-if="around_pages && around_pages.length && around_pages[0]['after']" class="next">
				<a :href="'/news/detail.html?id=' + around_pages[0]['after']['ID']">NEXT NEWS</a></div>
		</div>-->

    </section>
 

    <!--3mitsu download include-->
    <div class="3mitsu-include"></div>
    <!--//3mitsu download include-->

    <div class="pagetop">
        <span class="fs-renner">PAGE TOP</span>
    </div>
    <footer class="footer-include"></footer>
    <div class="mask"></div>
</body>

</html>