<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5873P36');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>【保存版】withコロナ時代にオフィスでやるべき5つの対策を解説！ | 株式会社セキュア</title>
    <meta name="description"
        content="withコロナ時代に突入し、アルコール消毒液の設置や、マスクの着用を義務付けている企業も多いのではないでしょうか。ただ、それだけでは対策として不十分な可能性も。本記事では、オフィスでやるべき5つのコロナ対策を解説します！">
    <meta name="keywords" content="セキュア,SECURE,ニュース,お知らせ,プレスリリース,セキュリティ">
    <link rel="shortcut icon" href="/assets/img/fav.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="【保存版】withコロナ時代にオフィスでやるべき5つの対策を解説！ | 株式会社セキュア">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="withコロナ時代に突入し、アルコール消毒液の設置や、マスクの着用を義務付けている企業も多いのではないでしょうか。ただ、それだけでは対策として不十分な可能性も。本記事では、オフィスでやるべき5つのコロナ対策を解説します！">
    <meta property="og:url" content="https://secureinc.co.jp/aioffice/media/countpl/office-virus/">
    <meta property="og:image" content="https://secureinc.co.jp/aioffice/media/countpl/office-virus/img/main.jpg">
    <meta property="og:site_name" content="【保存版】withコロナ時代にオフィスでやるべき5つの対策を解説！ | 株式会社セキュア">
    <meta property="og:locale" content="ja_JP">
    <link rel="stylesheet" href="/assets/css/common.css?v=20021303">
    <script src="/assets/js/jquery1.8.3.js"></script>
    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/bundle.js"></script>
    <script src="/assets/js/include.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/aioffice/media/office-virus.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5873P36" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header-include"></header>
    <section class="news l-inner news_detail_page">
        <nav class="breadcrumb" style="margin-bottom:0">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/aioffice/">AI Office Base</a></li>
                <li><a href="/aioffice/media/index2.html">ワークプレイスDX</a></li>
                <li><span>【保存版】withコロナ時代にオフィスでやるべき5つの対策を解説！</span></li>
            </ul>
        </nav>

        <!--<div class="pager">
			<div v-if="around_pages && around_pages.length && around_pages[0]['before']" class="prev">
				<a :href="'/news/detail.html?id=' + around_pages[0]['before']['ID']">PREV NEWS</a></div>
			<div class="pagination">
				<ul>
					<li><a href="/news/"><img src="/assets/img/ico/back.png" alt="" width="20" heigth="19"></a></li>
				</ul>
			</div>
			<div v-if="around_pages && around_pages.length && around_pages[0]['after']" class="next">
				<a :href="'/news/detail.html?id=' + around_pages[0]['after']['ID']">NEXT NEWS</a></div>
		</div>-->

        <div class="l-cols">
            <div class="col">
                <article>
                    <div class="ta-c">
                        <h1 class="fs-30">【保存版】withコロナ時代にオフィスでやるべき5つの対策を解説！</h1>
                        
                        <picture>
                            <source media="(min-width:640px)" srcset="img/main.jpg 2000w">
                            <source media="(min-width:320px)" srcset="img/main_sp.jpg 870w">
                            <img srcset="img/main_sp.jpg 870w, img/main.jpg 2000w" alt="コロナ時代のオフィスの風景">
                        </picture>

                        <div style="text-align: left;">
                            <ul class="p_list">
                                <li><a href="#prg01">【保存版】withコロナ時代にオフィスでやるべき5つの対策とは？</a>
                                    <ul>
                                        <li><a href="#prg01_t01">【対策1】3密や従業員同士の接触を避けるオフィス環境の整備</a>
                                            <ul>
                                                <li><a href="#prg01_t01_01">すぐに対策できること</a></li>
                                                <li><a href="#prg01_t01_02">時間がかかるが効果の高いもの</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#prg01_t02">【対策2】飛沫防止となるルールや仕組みの導入</a>
                                            <ul>
                                                <li><a href="#prg01_t02_01">すぐに対策できること</a></li>
                                                <li><a href="#prg01_t02_02">時間がかかるが効果の高いもの</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#prg01_t03">【対策3】常に清潔を保てるルールや仕組みの導入</a>
                                            <ul>
                                                <li><a href="#prg01_t03_01">すぐに対策できること</a></li>
                                                <li><a href="#prg01_t03_02">時間がかかるが効果の高いもの</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#prg01_t04">【対策4】コロナの疑いがある従業員への適切な対応</a>
                                            <ul>
                                                <li><a href="#prg01_t04_01">すぐに対策できること</a></li>
                                                <li><a href="#prg01_t04_02">時間がかかるが効果の高いもの</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#prg01_t05">【対策5】コロナ感染が発生した場合に拡散を防ぐ仕組みの検討</a>
                                            <ul>
                                                <li><a href="#prg01_t05_01">すぐに対策できること</a></li>
                                                <li><a href="#prg01_t05_01">時間がかかるが効果の高いもの</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#prg02">オフィスのコロナ対策をするなら「SECURE AI Office Base」の導入がおすすめ！</a></li>
                                <li><a href="#prg03">まとめ：withコロナ時代で生き抜くためには、対策だけでなく「生産性への配慮」も重要</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            <div style="text-align:center; margin:20px 0;">
                                <span>無料ダウンロード資料　オフィスに必要なコロナ対策とは？</span><br>
                                <a class="btn" href="/aioffice/?utm_source=media_article"><span>「職場の三密対策 虎の巻」</span></a>
                            </div>
                        </div>
                        <!---->
                    </div>


                    <hr>

                    <div class="block block_inner">
                        <div>
                            <p>「オフィスでできるコロナ対策は、何があるのかな？」<br>
                                「アルコール消毒やマスク着用は徹底してるけど......」<br>
                                と思うことはありませんか？<br>
                                <br>
                                新型コロナウイルス対策として、出社不要な業務は「テレワーク」を推進する流れになっています。しかし全ての業務をテレワークに移行することは難しく、オフィスで働いている方も多いのではないでしょうか。<br>
                                <br>
                                ただオフィス内でコロナ感染者が発生してしまうと、オフィス内の消毒、コロナ感染者との接触者リスト作成などが必要となり、感染拡大を防ぐために業務が止まってしまいます。<br>
                                <br>
                                またコロナ感染者発生後の対応が遅れてしまうと、最悪の場合、既存顧客との信頼関係にヒビが入ったり、企業ブランドに傷が入ったりする可能性も。<br>
                                <br>
                                そこでこの記事では、withコロナ時代にオフィスでやるべき5つの対策をご紹介します。企業や従業員を守るためにコロナ対策を徹底したい方は、ぜひご一読ください。<br>
                                <br>
                                なお、withコロナ時代に求められる「オフィス管理の課題や対策」をまとめた資料を用意しています。事前に課題を明確化したい方は、「<a href="/aioffice/docs/toranomaki02/">職場の3密対策 虎の巻</a>」をご一読ください。 
                            </p>
                        </div>
                        <!---->
                    </div>


                    <!--#prg01-->
                    <div id="prg01" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    【保存版】withコロナ時代にオフィスでやるべき5つの対策とは？</h2>
                                    <picture>
                                        <source media="(min-width:640px)" srcset="img/01.jpg 2000w">
                                        <source media="(min-width:320px)" srcset="img/01_sp.jpg 750w">
                                        <img srcset="img/01_sp.jpg 750w, img/01.jpg 2000w" alt="コロナ時代のオフィスの風景">
                                    </picture>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                            <strong>■withコロナ時代にオフィスで重要となる対策は、主に次の5つ。</strong><br>
                                <ol>
                                    <li>3密や従業員同士の接触を避けるオフィス環境の整備</li>
                                    <li>飛沫防止となるルールや仕組みの導入</li>
                                    <li>常に清潔を保てるルールや仕組みの導入</li>
                                    <li>コロナの疑いがある従業員への適切な対応</li>
                                    <li>コロナ感染が発生した場合に拡散を防ぐ仕組みの検討</li>
                                </ol>
                                <p>ただ、予算の都合で「全てを完璧に対策できない場合」や、「すぐに準備ができない場合」もあるでしょう。そこで、以下2つの項目に分けてそれぞれ解説します。</p>

                                <ol class="no">
                                    <li>すぐに対策できること</li>
                                    <li>時間はかかるが効果の高いもの</li>
                                </ol>

                                <p>まずは「すぐにできる対策」をしつつ、「効果の高いもの」を徐々に対策していくのがおすすめです。1つずつ詳しく見ていきましょう。</p>

                                <h3 id="prg01_t01" class="fs-20">【対策1】3密や従業員同士の接触を避けるオフィス環境の整備</h3>

                                <p>出社時に検温を義務付けたり、体調がすぐれないときの出社を制限したとしても、「コロナ感染者の疑いがある人を、完全にオフィスに入れない」といった対策は難しいでしょう。そのためコロナ対策で基本となるのが、「オフィス内での感染症対策を強化すること」です。<br>
                                <br>
                                まずは、オフィス内で出来る3密対策や、従業員同士の接触を避ける環境を整えていきましょう。</p>

                                <h4 id="prg01_t01_01" class="fs-18">・すぐに対策できること</h4>

                                <p>オフィス内の3密対策や、従業員同士の接触を防ぐために有効な対策は次の4つ。</p>

                                <ol class="no">
                                    <li>テレワークの導入 + オフィスに出社する人数の制限</li>
                                    <li>会議室の利用制限 + 両隣と前後に人が座らないなどのルールの策定</li>
                                    <li>通路の進行方向を制限する</li>
                                    <li>休憩時間やランチ時間をずらす</li>
                                </ol>

                                <p>コロナ禍以前と同じ働き方だと、どうしても一ヵ所に人が集まってしまいがちです。そのため出社人数や会議室の利用制限をしたり、休憩時間をローテーションしたりするなど、社内規則を柔軟に変えて対策しましょう。<br>
                                <br>
                                ただ、これだけでは対策としては不十分です。次に、効果の高い対策を見ていきましょう。</p>

                                <h4 id="prg01_t01_02" class="fs-18">・時間がかかるが効果の高いもの</h4>

                                <p>オフィスに出社する人数を制限すれば、オフィス内の従業員数は減らせます。しかし、「オフィス内で混雑してしまうエリア」ができてしまい、「気づいたら3密になっていた......」といった事態となる可能性も。<br>
                                <br>
                                そのためオフィス内の3密を防ぐ、次のような対策が必要です。</p>

                                <ol class="no">
                                    <li>オフィス内の混雑状況を見える化する仕組みの導入</li>
                                    <li>通常出社して対応が必要な業務を、リモートに変更できる仕組みの導入</li>
                                </ol>
                                
                                <p>たとえばクラウド型オフィス管理サービス『<a href="/aioffice/?utm_source=media_article">SECURE AI Office Base</a>』では、混雑状況の確認が可能です。また、データがたまれば、次のように混雑状況の予想も可能です。</p>
                        </div>
                        <!---->
                    </div>

                    <div class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/02.png 2000w">
                                    <source media="(min-width:320px)" srcset="img/02_sp.png 750w">
                                    <img srcset="img/02_sp.png 750w, img/02.png 2000w" alt="混雑予測">
                                </picture>

                                <p>事前に混雑しているエリアがわかれば、対策がしやすくなりますよね。<br>
                                 <br>
                                 またスマホで簡単にゲストの登録が可能なので、顧客の来訪者対応で出社する必要もありません。</p>
                            </div>
                        </div>

                        <div class="l-cols auto center">
                            <div class="col">
                                <p>・SECURE AI Office Baseでゲスト登録ができる機能の例</p>
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/03.png 2000w">
                                    <source media="(min-width:320px)" srcset="img/03_sp.png 750w">
                                    <img srcset="img/03_sp.png 750w, img/03.png 2000w" alt="ゲスト登録の例">
                                </picture>
                                
                                <p>SECURE AI Office Baseは、「オフィス内の3密を避ける + なるべく出社しない仕組みを作る」<br>
                                    といった対策をしたい方におすすめです。</p>
                            </div>
                        </div>

                        <div class="l-cols auto center">
                            <div class="col">
                                <a href="/aioffice/?utm_source=media_article"><img src="img/bn_aioffice_w.jpg" alt="『SECURE AI Office Base』の詳細はこちら！バナー"></a>
                                <p class="center">ただ、3密を防げたとしても、咳やくしゃみなどから感染してしまう可能性もあります。<br>
                                    次に、飛沫防止（咳やくしゃみなどによる感染の防止）ができる対策を見ていきましょう。</p>
                            </div>
                        </div>
                    </div>


                    <!--prg01 対策2-->
                    <div class="block block_inner">
                        <div class="col">
                            
                                <h3 id="prg01_t02" class="fs-20">【対策2】飛沫防止となるルールや仕組みの導入</h3>

                                <p>飛沫防止となる対策についても、「すぐできる対策 + 時間はかかるが効果の高い対策」に分けて1つずつ見ていきましょう。</p>

                                <h4 id="prg01_t02_01" class="fs-18">・すぐに対策できること</h4>

                                <p>飛沫防止をするためにすぐできる対策は、以下の3つ。</p>

                                <ol class="no">
                                    <li>マスクの着用</li>
                                    <li>トイレのハンドドライヤーの禁止</li>
                                    <li>マスクを外しているときに大声で話さない</li>
                                </ol>

                                <p>ただし、食事中などマスクを外さなければいけない状況だと、ついつい大声で会話してしまうことも。そのため、「大声で会話してしまいがちなケース」を例に出しつつ、ルールを決めるのがおすすめです。<br>
                                <br>
                                ただ、ルールを細かく決めたとしても、従業員が完璧に守ってくれるとは限りません。では、どのように対策すればいいのでしょうか。具体的な対策について見ていきましょう。</p>

                                <h4 id="prg01_t02_02" class="fs-18">・時間がかかるが効果の高いもの</h4>

                                <p>多少導入までに時間はかかりますが、以下も飛沫防止に効果的です。</p>

                                <ol class="no">
                                    <li>物理的に遮断できるパネルやパーテーションの導入</li>
                                    <li>マスクの着用有無の検知・通知ができるシステムの導入</li>
                                </ol>
                                
                                <p>以下のような飛沫防止ができるデスクやパネルを導入すると、咳やくしゃみなどによる感染を防ぎやすくなります。<br>
                                &raquo; 参考：<a href="https://www.kagu-r.com/anticorona/" target="_blank">https://www.kagu-r.com/anticorona/</a></p>

                                <p>またマスク着用を促すシステムの導入ができれば、マスク未着用による感染のリスクも減らせます。こういった対策をしておくこともおすすめです。</p>
                                <a href="/aioffice/?utm_source=media_article"><img src="img/bn_aioffice_w02.jpg" alt="『SECURE AI Office Base』の詳細はこちら！バナー"></a>
                        </div>
                        <!---->
                    </div>


                    <!--prg01 対策3-->
                    <div class="block block_inner">
                        <div class="col">
                            
                                <h3 id="prg01_t03" class="fs-20">【対策3】常に清潔を保てるルールや仕組みの導入</h3>

                                <p>オフィスを清潔に保つことも、コロナ感染対策として有効です。また、風邪や食中毒などを防いだり、集中しやすくなったりすることも。<br>
                                <br>
                                具体的な対策について、見ていきましょう。</p>

                                <h4 id="prg01_t03_01" class="fs-18">・すぐに対策できること</h4>

                                <p>清潔に保つためにすぐにできる対策は、次の3つ。</p>

                                <ol class="no">
                                    <li>手洗いの徹底</li>
                                    <li>30分に1回程度の換気</li>
                                    <li>オフィス内の定期的な消毒</li>
                                </ol>

                                <p>ただ、「手洗いを徹底すること」といったルールでは、個々人の考え方によって回数や頻度が変わってしまいます。そのため、「出勤前」「食事前」「外出先から戻ってきたとき」など、手洗いすべき状況を伝えたうえでルールを決めるのがおすすめです。<br>
                                <br>
                                他にも、オフィスを清潔に保つ対策はいろいろあります。続いて、「時間がかかるが効果の高い対策」を見ていきましょう。</p>

                                <h4 id="prg01_t03_02" class="fs-18">・時間がかかるが効果の高いもの</h4>

                                <p>ルールだけでは、個々人の考え方によって対策にムラができてしまいます。よりオフィスを清潔に保ちたいなら、以下のような備品の導入もおすすめです。</p>

                                <ol class="no">
                                    <li>抗菌・抗ウイルステーブル</li>
                                    <li>消毒液スタンドの設置</li>
                                    <li>非接触（センサー開閉式や足踏み式）で使えるゴミ箱</li>
                                </ol>
                                
                                <p>オフィスの備品全てを変えるのは時間やコストがかかりますが、一度導入すればオフィスを清潔に保ちやすくなります。<br>
                                <br>
                                ここまで「コロナ感染を防ぐ対策」について解説してきました。しかしどれだけ対策を施していても、感染者が出てしまう可能性はゼロではありません。そのため、「コロナ感染者が発生してしまった場合」を想定した準備が必要です。<br>
                                <br>
                                具体的な対策について見ていきましょう。</p>    
                        </div>
                        <!---->
                    </div>


                    <!--prg01 対策4-->
                    <div class="block block_inner">
                        <div class="col">
                            
                                <h3 id="prg01_t04" class="fs-20">【対策4】コロナの疑いがある従業員への適切な対応</h3>

                                <p>オフィスでのコロナ感染や、コロナ感染者が発生した後の拡大を防ぐためには、コロナ感染の疑いがある従業員への適切な対応が必要です。<br>
                                <br>
                                こちらも具体的な対策を見ていきましょう。</p>

                                <h4 id="prg01_t04_01" class="fs-18">・すぐに対策できること</h4>

                                <p>コロナ感染の疑いがある人に対してすぐできる対策は、次の2つです。</p>

                                <ol class="no">
                                    <li>「体調不良の場合は出社しない」などのルールを作る</li>
                                    <li>仕事中体調不良になった場合の連絡ルールや帰宅ルールなどを作る</li>
                                </ol>

                                <p>コロナに感染してしまった場合は、体調不良（高熱、喉が痛いなど）になることも。そのため「体調不良になった従業員を出社させない、もしくは帰宅させる」といったルールを決めておきましょう。<br>
                                <br>
                                ただ、これだけでは「大丈夫だと思っていたが、実はコロナに感染していた」「仕事が忙しく休める状況になく、自分の判断でそのまま仕事してしまった」というケースを防ぎきれません。そのため、「コロナ感染の疑いがある人」を防ぐ仕組みの導入が必要です。<br>
                                <br>  
                                具体的な対策について、見ていきましょう。</p>

                                <h4 id="prg01_t04_02" class="fs-18">・時間がかかるが効果の高いもの</h4>

                                <p>コロナ感染の疑いがある人を防ぐ仕組みとして効果的なのが、「体温の高い従業員に通知したり、入退室を制限できるシステム」の導入です。<br>
                                <br>
                                入退室時に検温ができれば、体温が高い“コロナ予備軍”の従業員を見つけたり、通知したりできます。たとえばコロナ対策が可能な『SECURE AI Office Base』では、顔認証システムを利用して検温が可能です。<br>
                                <br>
                                もちろん高熱な場合は入退室を制限できるため、「コロナ感染の疑いがある高熱な人」の入室を防げます。さらに、検温のデータは、従業員ごとに確認も可能です。</p>
                        </div>
                        <!---->

                        <div class="l-cols auto center">
                            <div class="col">
                                <p>・「SECURE AI Office Base」で検温したデータが確認できる画面の例</p>

                                <picture>
                                    <source media="(min-width:640px)" srcset="img/04.png 2000w">
                                    <source media="(min-width:320px)" srcset="img/04_sp.png 750w">
                                    <img srcset="img/04_sp.png 750w, img/04.png 2000w" alt="検温したデータが確認できる画面">
                                </picture>

                                <p>オフィスのコロナ対策を強化したい方は、ぜひご確認ください。</p>
                            </div>
                        </div>

                        <div class="l-cols auto center">
                            <div class="col">
                                <a href="/aioffice/?utm_source=media_article"><img src="img/bn_aioffice_w02.jpg" alt="『SECURE AI Office Base』の詳細はこちら！バナー"></a>
                                <p>そして、「コロナ感染を防ぐ仕組み」と同時に、「コロナ感染者が発生した場合の対策」もしておくことが重要です。次に、コロナ感染の拡大を防ぐ仕組みについて見ていきましょう。</p>
                            </div>
                        </div>
 
                    </div>

                    <!--prg01 対策5-->
                    <div class="block block_inner">
                        <div class="col">
                            
                                <h3 id="prg01_t05" class="fs-20">【対策5】コロナ感染が発生した場合に拡散を防ぐ仕組みの検討</h3>

                                <p>実際に従業員がコロナに感染してしまった場合、感染した従業員の健康管理はもちろん、オフィス内で感染拡大を防ぐ対策も必要です。<br>
                                <br>
                                具体的な対策について見ていきましょう。</p>

                                <h4 id="prg01_t05_01" class="fs-18">・すぐに対策できること</h4>

                                <p>オフィス内でのコロナ感染拡大を防ぐためにすぐできる対策として、コロナ感染が発生した時の「接触者リストの作成手順」を決めておくことが重要です。接触者リストは文字通り、「コロナ感染してしまった従業員と接触した人」のリストのこと。<br>
                                <br>
                                接触者リストの作成手順は、以下の3ステップ。</p>

                                <ol class="no">
                                    <li>コロナ感染者の出社日を割り出す</li>
                                    <li>同じ時間に事務所にいた人を割り出す</li>
                                    <li>それぞれにヒアリングを行い、接触者リストを作成する</li>
                                </ol>

                                <p>3ステップでまとめていますが、コロナ感染者と接触した人の動きまで追う必要があるため、とても時間がかかります。従業員一人ひとりにヒアリングしていては、リストを作成するまでに新たな感染者が見つかってしまう可能性も。<br>
                                <br>
                                対応が後手に回ってしまうとクラスター（集団感染）を引き起こしてしまう可能性もあるため、「迅速に接触者リストの作成」を行う仕組みが必要です。具体的な対策について見ていきましょう。</p>

                                <h4 id="prg01_t05_02" class="fs-18">・時間がかかるが効果の高いもの</h4>

                                <p>接触者リストを迅速に作成するには、「オフィス内での入退室の記録がわかること」が重要となります。入退室の記録さえわかれば、「いつ、どこにいたのか」をヒアリングする時間もかかりませんし、同室にいた従業員もすぐに確認可能です。<br>
                                <br>
                                たとえばクラウド型オフィス管理システム『SECURE AI Office Base』では、入退室の記録を確認できます。</p>
                        </div>
                        <!---->

                        <div class="l-cols auto center">
                            <div class="col">
                                <p>・SECURE AI Office Baseで入退室の記録が確認できる機能の例</p>
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/05.png 2000w">
                                    <source media="(min-width:320px)" srcset="img/05_sp.png 750w">
                                    <img srcset="img/05_sp.png 750w, img/05.png 2000w" alt="入退室の記録が確認できる機能の例">
                                </picture>

                                
                                <p>さらに、在室者の一覧表示もできるため、「誰に注意喚起すれば良いか」が一目瞭然です。</p>
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/06.png 2000w">
                                    <source media="(min-width:320px)" srcset="img/06_sp.png 750w">
                                    <img srcset="img/06_sp.png 750w, img/06.png 2000w" alt="在室者の一覧表示">
                                </picture>

                                <p>SECURE AI Office Baseについては以下で詳しく機能を紹介しているので、ぜひご確認ください。</p>
                            </div>
                        </div>

                        <div class="l-cols auto center">
                            <div class="col">
                                <a href="/aioffice/?utm_source=media_article"><img src="img/bn_aioffice_w03.jpg" alt="『SECURE AI Office Base』の詳細はこちら！バナー"></a>
                                <p>ここまで、オフィスでできる5つのコロナ対策について解説しました。ここまでの内容を、一旦まとめます。</p>
                            </div>
                        </div>

                        <div class="l-cols auto center">
                            <div class="col">
                                <p>■すぐに対策できること</p>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>対策の種類</th><th>すぐに対策できること</th> 
                                    </tr>
                                    </thead>
                                    
                                    <tbody>
                                    <tr>
                                        <td>・三密回避<br>
                                        ・ソーシャルディスタンス回避</td>
                                        <td>・テレワークの導入 + オフィスに出社する人数の制限<br>
                                            ・会議室の利用制限 + 両隣と前後に人が座らないなどのルール<br>
                                            ・通路の進行方向を制限する<br>
                                            ・休憩時間やランチ時間をずらす
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・飛沫防止</td>
                                        <td>・マスクの着用<br>
                                            ・トイレのハンドドライヤーの禁止<br>
                                            ・マスクを外しているときに大声で話さない
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・清潔の維持</td>
                                        <td>・手洗いの徹底<br>
                                            ・30分に1回程度の換気<br>
                                            ・オフィス内の定期的な消毒
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・コロナ感染者の検知</td>
                                        <td>・「体調不良の場合は出社しない」などのルールを作る<br>
                                            ・仕事中体調不良になった場合の連絡ルールや帰宅ルールなどを作る
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・コロナ感染者の拡散防止</td>
                                        <td>・コロナ感染が発生した時の「接触者リストの作成手順」を決めておく
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>すぐに取れる対策は数多くありますが、決して万全とは言い切れません。そのため時間をかけてでも、より効果が高い方法も積極的に取り入れるのがオススメです。</p>

                            </div>
                        </div>

                        <div class="l-cols auto center">
                            <div class="col">
                                <p>■時間はかかるが効果の高いもの</p>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>対策の種類</th><th>時間はかかるが効果の高いもの</th> 
                                    </tr>
                                    </thead>
                                    
                                    <tbody>
                                    <tr>
                                        <td>・三密回避<br>
                                        ・ソーシャルディスタンス回避</td>
                                        <td>・オフィス内の混雑状況を見える化するシステムの導入<br>
                                            ・出社して対応が必要な業務をリモート対応出来る仕組みの導入
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・飛沫防止</td>
                                        <td>・デスクやスペースごとにパネルを導入<br>
                                            ・マスクの着用有無の検知・通知ができるシステムの導入
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・清潔の維持</td>
                                        <td>・抗菌・抗ウイルステーブルの導入<br>
                                            ・消毒液スタンドの設置<br>
                                            ・センサー開閉式 ゴミ箱の設置
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・コロナ感染者の検知</td>
                                        <td>・体温の高い従業員に通知したり、入退室を制限できるシステムの導入
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>・コロナ感染者の拡散防止</td>
                                        <td>・コロナ感染が発生した時の「接触者リスト」が作成しやすい、入退室履歴が確認できるシステムを導入
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>これらの対策は時間とコストがかかってしまいますが、一度導入してしまえば、感染予防・拡散防止に高い効果が期待できます。</p>

                                <ul>
                                    <li>● オフィスにコロナ感染者を入れない</li>
                                    <li>● オフィス内での感染を可能な限り防ぎたい</li>
                                    <li>● 仮にコロナ感染者が見つかった場合も被害を最小限に抑えたい</li>
                                </ul>
                                <p>といった3つの点で対策をしたいなら、「<a href="/aioffice/?utm_source=media_article">SECURE AI Office Base</a>」がおすすめです！</p>
                            </div>
                        </div>
 
                    </div>

<hr>


                    <!--#prg02-->
                    <div id="prg02" class="block block_inner">
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    オフィスのコロナ対策をするなら「SECURE AI Office Base」の導入がおすすめ！</h2>
                                
                                <picture>
                                    <source media="(min-width:640px)" srcset="img/07.jpg 2000w">
                                    <source media="(min-width:320px)" srcset="img/07_sp.jpg 750w">
                                    <img srcset="img/07_sp.jpg 750w, img/07.jpg 2000w" alt="在室者の一覧表示">
                                </picture>
                                <p>「SECURE AI Office Base」では、これまでお伝えした「オフィスで必要となるコロナ対策」が可能です。</p>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                         <p>■「SECURE AI Office Base」で解決できるコロナ対策の例</p>

                            <p><span class="fs-20">1.</span> 3密や従業員同士の接触を避けるオフィス環境の整備<br>
                            　　⇒オフィスの混雑状況を可視化できるだけでなく、混雑状況の予想も可能 </p>
                            <picture class="img_left">
                                <source media="(min-width:640px)" srcset="img/08.png 2000w">
                                <source media="(min-width:320px)" srcset="img/08_sp.png 750w">
                                <img srcset="img/08_sp.png 750w, img/08.png 2000w" alt="混雑度">
                            </picture>
                            <picture class="img_left">
                                <source media="(min-width:640px)" srcset="img/09.png 2000w">
                                <source media="(min-width:320px)" srcset="img/09_sp.png 750w">
                                <img srcset="img/09.png 750w, img/09_sp.png 2000w" alt="混雑予想">
                            </picture>


                            <p><span class="fs-20">2.</span> 飛沫防止となるルールや仕組みの導入<br>
                                　　⇒従業員のマスク着用をチェックし、未着用の従業員に通知可能！</p>
                            <p><span class="fs-20">3.</span> 常に清潔を保てるルールや仕組みの導入<br>
                                　　⇒非接触でオフィスの入退室ができる、「顔認証システム」を導入！</p>
                            <p><span class="fs-20">4.</span> コロナの疑いがある従業員への適切な対応<br>
                                　　⇒入退室時に検温を行い、コロナ感染の疑いがある人（体温が高い人）の入室を制限可能！</p>
                            <p><span class="fs-20">5.</span> コロナ感染が発生した場合に拡散を防ぐ仕組みの検討<br>
                                　　⇒入退室の履歴や、在室者の一覧が確認しやすく、接触者リストの作成がしやすい！</p>
                            
                            <picture>
                                <source media="(min-width:640px)" srcset="img/10.png 2000w">
                                <source media="(min-width:320px)" srcset="img/10_sp.png 750w">
                                <img srcset="img/10_sp.png 750w, img/10.png 2000w" alt="入室・退出ログ">
                            </picture>
                            <picture>
                                <source media="(min-width:640px)" srcset="img/11.png 2000w">
                                <source media="(min-width:320px)" srcset="img/11_sp.png 750w">
                                <img srcset="img/11_sp.png 750w, img/11.png 2000w" alt="在室者の一覧表示">
                            </picture>
                            
                        </div>
                        <!---->
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                         <p>「SECURE AI Office Base」の詳細については、以下をご確認ください。</p>

                         <div style="text-align:center; margin:0 20px;">
                            <span>＼オフィスのコロナ対策が可能！／</span><br>
                            <a class="btn" href="/aioffice/?utm_source=media_article"><span>『SECURE AI Office Base』の詳細はこちら！</span></a>
                        </div>

                         <p>また、withコロナ時代に求められる「オフィス管理の課題や対策」をまとめた資料として、「<a href="/aioffice/docs/toranomaki/">ニューノーマル時代のオフィスあり方 虎の巻</a>」も用意しています。ぜひご一読ください。</p>
                        </div>
                        <!---->
                    </div>

                    <hr>


                    <!--#prg03-->
                    <div id="prg03" class="block block_inner" >
                        <!---->
                        <div class="l-cols auto center">
                            <div class="col">
                                <h2 class="fs-24">
                                    まとめ：withコロナ時代で生き抜くためには、対策だけでなく「生産性への配慮」も重要</h2>
                            </div>
                        </div>
                    </div>

                    <div class="block block_inner">
                        <div class="col">
                        <p>ここまで、wirhコロナ時代にオフィスでもとめられる5つの対策について解説しました。すぐにできる対策として、3密や従業員同士の接触、飛沫防止となるルールの作成などがありました。<br>
                        <br>
                        ただ、これらの対策だけでは「従業員の考えや意識」によって、対策にムラができてしまいます。よりコロナ対策を強化するなら、クラウド型オフィス管理サービス「SECURE AI Office Base」が効果的です。<br>
                        <br>
                        導入のイメージがしづらい方は、「ショールームの見学」で実際の導入イメージの確認が可能です。お気軽にお問い合わせください。</p>

                        <div style="text-align:center; margin:0 20px;">
                            <a class="btn" href="/aioffice/?utm_source=media_article"><span>SECURE AI Office Base</span></a>
                        </div>

                         
                        </div>
                        <!---->
                    </div>

                   
                </article>
            </div>

           
        </div>

        <!--<div class="pager">
			<div v-if="around_pages && around_pages.length && around_pages[0]['before']" class="prev">
				<a :href="'/news/detail.html?id=' + around_pages[0]['before']['ID']">PREV NEWS</a></div>
			<div class="pagination">
				<ul>
					<li><a href="/news/"><img src="/assets/img/ico/back.png" alt="" width="20" heigth="19"></a></li>
				</ul>
			</div>
			<div v-if="around_pages && around_pages.length && around_pages[0]['after']" class="next">
				<a :href="'/news/detail.html?id=' + around_pages[0]['after']['ID']">NEXT NEWS</a></div>
		</div>-->

    </section>
 

    <!--3mitsu download include-->
    <div class="3mitsu-include"></div>
    <!--//3mitsu download include-->

    <div class="pagetop">
        <span class="fs-renner">PAGE TOP</span>
    </div>
    <footer class="footer-include"></footer>
    <div class="mask"></div>
</body>

</html>